[2016-09-15 08:52] pst opened #1 "Security-group rules can not be changed"
Currently there is no way to change a security-groups.

Adding or removing rules in the security group will always try to delete and re-create the group. This however is not possible as long as a group is attached to an instance.

Changing a rule will lead terraform to plan a in place update. Apply then faills because updates for security-groups are not implemented.

I am aware of the notes regard

[2016-09-15 08:57] pst opened #2 "Security-groups don't support specifying another SG as the source"
Security-groups don't seem to allow specifying other security-groups as the source of a rule. I tried specifying it by name in the .cidr field, which was correctly planned and claimed to be applied, but the resulting security-group did not have any rules despite terraform claiming it had created one.

[2016-09-15 08:59] pst opened #3 "Changing diskSize destroys and recreates an instance"
A `diskSize` change currently destroys and re-creates an instance. It would be better to find a way to allow leveraging Exoscale's support for increasing diskSize in place.

[2016-09-15 09:04] pst opened #4 "Changing the list of security-groups for an instance silently fails"
Changing an entry in the list of security-groups of an instance or adding or removing an item get's planned and applied without errors. But the instance is not changed.

[2016-09-15 09:10] pst opened #5 "Adding a anti-affinity-group to an existing instance silenty fails"
The change gets planned as an in-place update and applied by terraform without errors. But the instance is not actually changed.

[2016-09-15 09:22] pst opened #7 "Bucket state is not kept in-sync"
Creating a bucket with TF, deleting it manually (e.g. in the Exoscale console) and then running TF plan or apply will not re-create the bucket. If you then change something about the bucket that forces a delete and re-create of the bucket will result in the delete failing with

[code]

[2016-09-15 09:34] pst opened #9 "Creating an object in a bucket fails with exception"
Given below tf file apply fails with `Error loading config: Error parsing /home/pst/Code/test-terraform/test.tf: At 15:10: nested object expected: LBRACE got: ASSIGN`

[code]

[2016-09-15 11:35] pst opened #11 "DNS is constantly updated without changes"
Given this tf file

[code]

TF plan will everytime find something to do. Below is an example of three commands TF plan, TF apply and TF plan again right after eachother.

It seems to get confused by the NS and SOA records. I am also not sure why it seems to try to switch those two records all the time.

[code]

[2016-09-16 09:12] sebgoa opened #12 "Update import paths for modules"
Now that this is moved in the exoscale repo, the import paths for egoscale need to be updated.

[2016-09-16 11:23] pst commented on #13
Alternative-ly updating user-data should not be an in-place update but force a destroy and re-create like changing the instance type or diskSize does.

[2016-09-16 12:55] pst opened #14 "There should be a way to use the default ssh-key for new instances"
The SSH resources seems to only allow uploading new ssh-keys and then using them. There should be a way to write TF exoscale_compute resources that use the default ssh-key of the account.

[2017-03-12 18:23] patte commented on #2
I would need this badly, any updates?

[2017-03-12 20:03] retrack commented on #2
I have a PR almost ready, give me 2 days to review and push it.

[2017-03-13 10:19] cimnine commented on #2
Alternatively, there's also the [official CloudStack provider](https://www.terraform.io/docs/providers/cloudstack/index.html) which works reasonably well.

[2017-04-26 16:58] philhug opened #17 "Add exoscale as builtin provider to upstream"
Any chance you'll submit this to upstream?
This would also give exoscale more visiblity.

[2017-04-26 18:07] llambiel commented on #17
We will probably submit it upstream, but we need first to improve its quality in order to be production ready (see pending issues)

[2017-04-26 18:07] #17 closed

[2017-11-02 19:57] git001 opened #24 "Error: provider.exoscale: Internal validation of the provider failed!"
I have used the snippets from the readme and got this error.

[code]

[code]

The config is this.

[code]

[2017-11-06 17:20] olmoser commented on #24
it seems that the `id` field is now a reserved field name: https://github.com/hashicorp/terraform/pull/15695/commits/67ceb1ab07acd55ebc0d7b6efb39019e73fd1888

we might need to rename the `id` fields in the schema definition, if they are needed at all.

[2017-11-07 15:24] olmoser commented on #24
according to the TF mailing list, `id` fields in the schema definition is officially deprecated, and `SetId()` as well as `Id()` should be used. I already fixed this and currently check if everything is still working. Expect a PR in the next days.

[2017-12-04 15:02] greut commented on #24
For the record. https://github.com/terraform-providers/terraform-provider-google/issues/353

[2017-12-05 07:31] #24 closed

[2017-12-05 08:17] greut commented on #12
Fixed by 90e555c9199bdfc258fa06ac5e58d52ce7a31b14

[2017-12-05 08:17] #12 closed

[2017-12-12 16:04] greut commented on #2
There is work in progress branch for this issue (and others) #32

[2017-12-12 16:07] greut commented on #8
It may require some time, but SG can be deleted. Cheers,

[2017-12-21 14:09] greut commented on #3
https://github.com/exoscale/terraform-provider-exoscale/pull/34

[2017-12-21 14:47] pyr commented on #14
The API does not expose a concept of **default** key at the moment so this is not feasible for now.

[2017-12-21 14:47] #14 closed

[2018-01-07 09:50] llambiel opened #38 "Changing size destroys and recreates the instance"
Changing `size` currently destroys and re-creates the instance. (ex from Micro to Medium)

Would be nice that it takes care of scaling the instance since it is supported while the instance is stopped.

[2018-01-07 09:54] llambiel opened #39 "Add instance tag support"
Would be nice to support instance [tags](https://community.exoscale.ch/api/compute/#tags)

[2018-01-08 16:18] greut commented on #38
Fixed by e7787e3ef1e4a95cc8b2bc76cfee9e5f41e8eba2

[2018-01-08 16:21] greut commented on #41
With 4dce397f4b67e58c24b7113743c15a10e6e3ab34, the records will be separated.

[2018-01-08 16:26] greut commented on #40
Fixed by dd42c7462eeb4c6aaf2de56f0508b6032aea5d5c

[2018-01-08 16:27] greut commented on #39
Those are done in egoscale... I'll jump on that once happy with the current PR #37

[2018-01-11 16:26] #3 closed

[2018-01-12 13:53] greut commented on #13
Fixed by `~> 0.9`

[2018-01-12 13:53] #38 closed

[2018-01-12 13:53] greut commented on #11
As of `~> 0.9`, records are kept outside the domain, which fixes this particular issue. Cheers,

[2018-01-12 13:53] #11 closed

[2018-01-12 13:54] greut commented on #1
fixed by `~> 0.9`

[2018-01-12 13:54] #1 closed

[2018-01-12 13:55] #2 closed

[2018-01-12 13:55] greut commented on #4
Fixed by `~> 0.9`

[2018-01-12 13:55] #4 closed

[2018-01-12 13:55] greut commented on #5
This should be fixed using ~> 0.9

[2018-01-12 13:55] #5 closed

[2018-01-12 13:56] #39 closed

[2018-01-20 06:31] Mayeu opened #50 "DNS import does not import the content of the field"
Hello :wave:

I just tried to import the DNS data of a domain (in 0.9.4), and the resulting state does not contains any `content` field. Here is an exerpt of my imported `.tfstate`:
[code]

Has you can see there is no content field in the imported data.

Here the version details:
[code]

[2018-01-20 08:03] Mayeu opened #51 "Security group does not import user_security_group"
Hello :wave:

When importing security groups that reference other security groups the importer return the following:
[code]
While the expected result should have been:
[code]

Here the version details:
[code]

[2018-01-20 09:24] Mayeu opened #52 "Importing a compute instance does not import the main IP address"
Hello :wave:

I try to import a compute instace without any virtual network setup. But contrary to what is detailled in [the guide published on Exoscale blog](https://www.exoscale.ch/syslog/2018/01/18/managing-your-existing-infrastructure-with-terraform/) the `ip_address` is not imported.

Here is the result of the import:
[code]
Here the version details:
[code]

[2018-01-21 09:09] greut commented on #49
Hey @Mayeu,

Thanks for you time. I guess there was a mixed up in the doc. I'll had those keys to the list.

https://github.com/exoscale/terraform-provider-exoscale/blob/master/exoscale/provider.go#L20

I'll triage the others issues tomorrow. Thanks mate!

[2018-01-22 07:23] greut commented on #50
I've overlooked that one... thanks a lot!

[2018-01-22 07:48] greut commented on #52
This was fixed by d36880c4e6bf6b771f7ec3570b3d6debb9abf6ec.

Thanks mate! Much appreciated.

[2018-01-22 07:48] #52 closed

[2018-01-22 07:48] #50 closed

[2018-01-22 08:59] #51 closed

[2018-01-23 09:08] greut opened #56 "add documentation"
Create a `website` directory with html documentation

[2018-01-24 20:20] olmoser opened #59 "exoscale_compute resources with user_data render 401"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Environment**:
- **Cloud provider or hardware configuration:**
Macbook Pro

- **OS:**
Darwin 17.3.0 x86_64

**terraform version:**
Terraform v0.11.2
+ provider.cloudstack v0.1.4
+ provider.exoscale v0.9.6
+ provider.template v1.0.0

**Anything else do we need to know**:
I tried to apply the `multi-private-network` example, which end

[2018-01-24 20:22] olmoser commented on #59
here's the `TF_LOG=trace` output
[tf_debug.txt](https://github.com/exoscale/terraform-provider-exoscale/files/1661543/tf_debug.txt)

[2018-01-25 15:59] olmoser commented on #59
not yet sure but this might be related to base64 encoding? If i do the following:

[code]
it seems to work.

[2018-01-26 07:50] greut commented on #59
@olmoser to support the multi-part, I've had to disable the auto-`base64` encoding. Check out the examples:

https://github.com/exoscale/terraform-provider-exoscale/blob/master/examples/cloud-init/data.tf

I probably failed to update the `README` accordingly though.

[2018-01-26 11:15] greut commented on #59
I could put back some intelligence here, looking for a raw text input, e.g. starting with `#cloud-config` or looking like a multi-part.

[2018-01-26 11:20] olmoser commented on #59
nah, I think it's ok as it is - the `cloud-init` example in fact works, I was just looking at the `multi-private-network` example, there is no `template_cloudinit_config` (which takes care of the base64 encoding) hence the example needs to be adapted, that's all

[2018-01-26 11:35] greut commented on #59
thanks for your tests... I'll try to do something clever around this area.

[2018-01-29 10:21] #59 closed

[2018-02-12 12:25] nuschk opened #68 "Changing user_data with attached NIC fails"
Guys, I'm playing around, trying to attach a private IP to a coreos node. I'm running into the following error.

My tf:

[code]

So, I `terraform apply` for the first time just fine.

If I now change the content of cloud-config.yaml (e.g., from being empty to containing `#cloud-config\n`, but really, doesn't matter), and `terraform apply` again, the following error is raised:

[code]

Sorry, can't

[2018-02-12 12:37] nuschk opened #69 "Setting SSH keys on compute instance is broken"
Consider this hcl:

[code]

Applying will result in defaultKey being set on the instance, although terraform reports success. On each apply, it's trying to set again.

[2018-02-12 12:45] nuschk opened #70 "Using IDs to reference security groups will always result in re-setting them"
Consider this hcl:

[code]
Terraform apply will always try to reconnect the security groups:

[code]

I think the reconciler in the compute instance is expecting just names instead of IDs or names. Thus, I _could_ use exoscale_security_group.sg1.*name*, but that seems weird.

[2018-03-01 14:01] greut commented on #70
@nuschk your intuition is right, use the `name` instead. For the security group rules, the latest release separates the `id` and the `name`.

Would you find it better if a `compute` let you use either  `security_groups` or `security_group_ids` ?

https://github.com/exoscale/terraform-provider-exoscale/blob/master/exoscale/security_group_rule_resource.go#L30-L43

Sorry for the delay... I've somehow

[2018-03-01 14:25] greut commented on #69
@nuschk sadly this is a bug that cannot be resolved in the terraform provider. If two SSH keys have the same _fingerprint_, the API answers with one of name. And in this case, not the one you expecting. In the portal, you'all also see the other ssh keypair displayed.

The workaround is to ignore changes on the `key_pair`, which is fine since changing it via the API (what Terraform does), doesn't h

[2018-03-01 14:28] nuschk commented on #70
I honestly have no clue on what's best practice for terraform (I'was only playing around with it). Probably it would be best to stick with what others (DO, GOOG etc.) are doing.

My follow up question is this: why did my example kinda-work in the first place? If compute.security_groups is expecting sg names, shouldn't it fail instantly when I pass IDs? It's misleading that the result is almost wha

[2018-03-01 14:28] #70 closed

[2018-03-01 14:29] nuschk commented on #69
Ah, that explains it, thank you. Obviously, I wouldn't want the two key pairs to be the same in a production setup, so no problem for me. Thanks!

[2018-03-01 14:29] #69 closed

[2018-03-01 14:29] greut commented on #68
@nuschk for the time being, private networks do not offer any DHCP service, which requires more work from your side.

Changing the `user_data` really requires to recreate the instance in the current state of affair. Altough I agree that it shouldn't crash...

[2018-03-01 14:32] greut opened #77 "changing `user_data`, `keypair` should force the recreation"
If in theory it would be possible to reset the SSH keys and user-data on the fly, with a reboot or not. In practice it doesn't work and causes confusion. #68, #69

[2018-03-01 14:34] greut commented on #70
I'll separate the two options. _explicit is better than implicit_ Thanks for the feedbacks, much appreciated.

[2018-03-01 14:46] marcaurele commented on #77
Cloud-init would only append the new key if it was working, since it cannot be sure the files hasn't been edited since it first created it. Then it leaves the door to someone still using the old key.

[2018-03-02 10:35] #77 closed

[2018-03-02 14:25] greut commented on #68
if you try to change the `user_data` via the API, it will still fail (and we are aware of that), regarding terraform it should force the creation of a new instance starting with v0.9.11.

[2018-03-02 15:13] #68 closed

[2018-03-12 08:51] greut opened #87 "SSH keypair doesn't generate new keys"

[2018-03-15 09:27] #87 closed

[2018-03-20 12:57] greut opened #96 "username from the template details"
Feed from the template details to obtain the information regarding the username to use.

[2018-03-22 14:57] greut opened #97 "crash during import"
When importing a resource, it may crash...

cf. https://github.com/hashicorp/terraform/issues/17672

[2018-03-26 15:12] greut commented on #100
hi @markschmid, I'll look into it. Do you mind giving me the version you're using? By running [`terraform providers`](https://www.terraform.io/docs/commands/providers.html)

[2018-03-26 15:17] markschmid commented on #100
[code]

[2018-03-27 05:57] greut commented on #97
closed by 039a7fbe4506fae664d51703fb89797d21ec9381

[2018-03-27 05:57] #97 closed

[2018-03-27 05:59] greut commented on #56
closed by #82

[2018-03-27 05:59] #56 closed

[2018-03-27 05:59] greut commented on #64
closed by #89

[2018-03-27 06:00] greut commented on #6
The S3 part of the provider has been removed, the AWS one should do it.

[2018-03-27 06:00] greut commented on #7
The S3 part of the provider has been removed, the AWS one should do it.

[2018-03-27 06:00] #7 closed

[2018-03-27 06:01] greut commented on #9
The S3 part of the provider has been removed, the AWS one should do it.

[2018-03-27 06:01] #9 closed

[2018-03-27 14:15] greut commented on #100
@markschmid  v0.9.16 should do it. Thanks for your report!

[2018-03-28 07:19] markschmid commented on #100
Confirmed it now works (tested with 0.9.17). Thanks!

[2018-04-13 05:54] #96 closed

[2018-04-25 06:55] greut opened #114 "Allow reset"
Have a new state that allow an instance to be reset/reinstalled

[2018-05-09 05:06] greut commented on #119
Hi @multani,

there is an issue into Cloudstack itself where a key is indexed using its fingerprint rather than name. You may create many same ssh keys with different name. But when you retrieve the information from an instance name of the SSH keys might be the wrong one.

One solution is to ignore any changes to the key_pair.

[code]

An alternative approach would be to send the SSH keys via the

[2018-05-09 06:49] multani commented on #119
Hi @greut,

Thanks for the propositions, another one would be to create the SSH key out of the modules (and only once then) and passes its ID down into each instance of the modules, so the same public key would not be duplicated.

What really puzzled me though is that I've created many instances in the past using the CloudStack provider and it never asked me to recreate or to update the SSH key as

[2018-05-09 07:39] greut commented on #119
It makes sense. Calls like [resetSSHKeyForVirtualMachine](http://cloudstack.apache.org/api/apidocs-4.4/user/resetSSHKeyForVirtualMachine.html) won't do much once the machine has been booted. Maybe used in combination with [restoreVirtualMachine](http://cloudstack.apache.org/api/apidocs-4.4/user/restoreVirtualMachine.html). Which is the only way to ensure you won't loose your IP address, but it's a

[2018-05-09 08:10] multani commented on #119
Actually, the CloudStack provider correctly detects the key changed, only if the configuration in Terraform is different from the state previously stored by Terraform (it does the diff at this level, but it doesn't read out the value from the CloudStack API directly), AFAIK.

In that case, it seems it correctly does a trigger a restart of the machine, although I haven't paid attention to all the d

[2018-06-01 13:42] markschmid opened #129 "Crash when providing API key and secret from environment variable"
I'd like to provide the API key and the secret as env variables rather than in the configs (.tf) files.
Maybe I'm doing something wrong, but terraform crashes. I've tried to re-init terraform, but it does not help.

1. Environment variables
[code]

2. Provider config (config.tf) with commented out values
[code]

3. Running terraform
[code]

It looks as if it does not like the `provider "exoscale"

[2018-06-01 16:16] greut commented on #129
Interesting, I'll take a look. Thanks for your report.

[2018-06-01 19:44] greut commented on #129
@markschmid I've tested this using the [ssh-keys](https://github.com/exoscale/terraform-provider-exoscale/tree/master/examples/ssh-keys) example with the ENV variable rather than the `cloudstack.ini` file. Using an old, and a more recent version of the provider. No crashes?

The `provider` section without the credentials should be okay.

Do you mind rerunning this with `TF_LOG=1`? The issue's root

[2018-06-04 09:37] markschmid commented on #129
I reran using TF_LOG=1, log output as follows.

Note: I'm running terraform from a docker image. Not sure if related with the crash, probably not but still telling you.

[code]

[2018-06-04 09:49] greut commented on #129
Ohhh snap! you've uncovered it!

Thanks!

[2018-06-04 10:28] #129 closed

[2018-06-04 10:46] greut commented on #129
@markschmid please try the latest release: https://github.com/exoscale/terraform-provider-exoscale/releases/tag/v0.9.23

[2018-06-04 11:08] markschmid commented on #129
Thanks, I'll gladly do so. Currently, I can't get the new provider binary to run. Maybe it's because it's dynamically linked whereas the previous provider i used is statically linked?

Could you maybe provide a statically linked one?

[code]

Very minor detail: You're referencing the new build in [the change logs](https://github.com/exoscale/terraform-provider-exoscale/releases/tag/v0.9.23) as `te

[2018-06-04 11:34] greut commented on #129
oho, goreleaser is messing with us here.

[2018-06-04 12:01] greut commented on #129
@markschmid do you mind trying this? https://github.com/exoscale/terraform-provider-exoscale/releases/tag/v0.9.24a0

I've did a try inside an alpine:latest container and things went okay.

[2018-06-04 12:12] markschmid commented on #129
Now I can run terraform again, so far so good! :)
Unfortunately, it's still crashing when I don't provide `key` and `secret` in the config.

This time, I see no ERROR stack trace messages though... Let me know how I can help further (e.g. further testing or provide a reproducible setup etc.)

[code]

[2018-06-04 12:18] greut commented on #129
a plain old mistake on my side, once again. Thanks for you time!

[2018-06-04 12:21] greut commented on #129
https://github.com/exoscale/terraform-provider-exoscale/releases/tag/v0.9.24a1

[2018-06-04 12:30] markschmid commented on #129
Not crashing anymore! This time, it's asking for a `cloudstack.ini`. The path `/app` is referring to the mounted volume (cause I'm running terraform from a docker image).
Do I need the file `cloudstack.ini`?

[code]

[2018-06-04 13:06] greut commented on #129
it's probably doing a little more than expected still.

[2018-06-04 13:13] greut commented on #129
actually, if the key and the secret are set from the ENV, it shouldn't event try to read the ini files.

https://github.com/exoscale/terraform-provider-exoscale/releases/tag/v0.9.24a2

[2018-06-04 13:19] markschmid commented on #129
[code]

I'm running terraform in docker and mounting the directory with all my .tf files in the docker container in "/app". But, thinking some more about it, my shell environment is (of course) not available in the docker context (and for terraform). This could be why it's still failing for me now... Is that a possibility?

[2018-06-04 13:20] greut commented on #129
It's somehow missing `CLOUDSTACK_KEY`

[2018-06-04 13:21] greut commented on #129
or any of the alternative: https://github.com/exoscale/terraform-provider-exoscale/blob/master/website/docs/index.html.markdown#environment-variables

[2018-06-04 13:30] markschmid commented on #129
OK, this one's now on me! I just have to make the env vars available to docker, now it works!

[code]

Thanks so much for your help and the good cooperation!

[2018-06-04 13:34] greut commented on #129
I'll do a proper release, thank you very much @markschmid !

[2018-06-05 08:16] markschmid commented on #129
Tested an works fine with [Quality Snake](https://github.com/exoscale/terraform-provider-exoscale/releases/tag/v0.9.24) :)

[2018-06-05 08:17] greut commented on #129
we're proudly using a random codename generator.

[2018-06-06 16:04] markschmid commented on #115
Question in regards to user-data in general:
When terraform detects changes in user-data, what does it do exactly? It seems that the exoscale-provider makes an "update in-place" (reboot the instance and apply the cloud-init user-data?), but e.g. AWS destroys and recreates the instance according to [this](https://github.com/terraform-providers/terraform-provider-aws/issues/2346)

The question is no

[2018-06-06 16:21] greut commented on #115
@markschmid I'll refer you to the official doc: http://cloudstack.apache.org/api/apidocs-4.4/user/updateVirtualMachine.html

Some aspects of the `cloud-init` are read at first boot only, hence you should recreate the VM. When others may be applied with a simple reboot, e.g. the `hostname`

[2018-06-12 17:07] cgriggs01 opened #135 "Terraform Provider Development Program"
Hi Team,

The provider is looking good so far, I have a found a few items that should be addressed before the technical code review. Throughout this review I will suggest looking to the [AWS Terraform provider](https://github.com/terraform-providers/terraform-provider-aws) for examples of best practices. This is because that provider has been build primarily by HashiCorp engineers so it follows ou

[2018-06-15 13:07] llambiel commented on #135
Hi Chris,

We've started to make the requested changes. We'll ping you once everything is completed.

Best,

Loic

[2018-06-19 07:36] llambiel commented on #135
@cgriggs01 ready to ship

[2018-06-26 08:07] llambiel commented on #135
@cgriggs01 Can we move forward ?

Thanks !

[2018-06-26 21:46] cgriggs01 commented on #135
Hi @llambiel,
Sorry for the wait, I took another provider and its acceptance test. its looking really good, there are just a few more things to address.

- There should be and test file and acceptance test for each resource file. We use the Golang coverage tool to track the code coverage of the tests. Our goal for each provider is to have at least 50% code coverage, the provider is currently at 25

[2018-06-27 05:39] greut commented on #143
closed by #144

[2018-06-27 05:40] greut opened #145 "acceptance tests"
cf #135

- [x] domain record #161
- [x] network #153
- [x] nic #154
- [x]  secondary ip address #156
- [x] security group rule #159

[2018-06-27 08:21] llambiel commented on #135
@cgriggs01 issue related with the DNS subscription has been resolved. Acceptance tests may be restarted

[2018-06-27 22:37] cgriggs01 commented on #135
@llambiel Thank you for fixing that issue.

When running the acceptance tests today I had a reacurring error on `TestAccCompute` and `TestAccSSHKeyPair` both.

[code]

I think this could be an issue with the resources not being destroyed after the first test. Do you have an thoughts of what could be causing this?

[2018-06-29 08:53] llambiel commented on #135
@cgriggs01 Can you please retry and let me know if you're still facing the issue ?

[2018-07-09 07:55] greut commented on #115
done in f3d522abbb047593b04cf985894222c8a08f7405

[2018-07-12 23:37] cgriggs01 commented on #135
Hey @llambiel,

After running the tests again I hit another error on test `TestAccCompute`:
[code]

[2018-07-17 12:41] ltupin opened #158 "Problem with Extra-Large size"
Dear maintainer,

When I use Extra-Large size, each time I make plan it told me that it will change:

[code]

And of course, if you apply it fail:
[code]

[2018-07-17 12:44] greut commented on #158
This be fixed by #157

[2018-07-17 13:00] greut commented on #158
Give the latest release a try: https://github.com/exoscale/terraform-provider-exoscale/releases/tag/v0.9.31

[2018-07-17 14:03] ltupin commented on #158
That seems not resolved :-(
[code]

[2018-07-17 16:53] greut commented on #158
@ltupin putting `Extra-Large` into the terraform file should do it.

[code]

[2018-07-18 13:56] #145 closed

[2018-07-18 20:42] ltupin commented on #158
Unfortunately not :-(

I upgrade to 0.9.31
[code]

Ensure that I put Extra-Large in tf file:
[code]
And get this result after a successful apply if I try a plan:
[code]

If I apply i get this:
[code]
And if I re-plan, still come back to the first stage
[code]

[2018-07-18 20:47] greut commented on #158
damned...

[2018-07-19 06:13] greut commented on #158
I wasn't completely awake... it's `Extra-large`

[code]

[2018-07-19 08:44] ltupin commented on #158
I confirm thats work with Extra-**l**arge !
Thx !

[2018-07-19 09:07] #158 closed

[2018-07-19 15:10] greut commented on #135
[code]

close enough ;-)

[2018-07-26 00:18] shivamgupta01 opened #169 "Exporting ECS Clusters and TaskDefinition"
Hey I just wanted to know if this module can be used to export an existing Cluster into the terraform.

[2018-07-26 05:40] greut commented on #169
Do you mean like http://terraforming.dtan4.net/ ?

[2018-07-26 06:11] shivamgupta01 commented on #169
This looks great thank you.

[2018-07-26 06:11] #169 closed

[2018-07-26 06:20] shivamgupta01 commented on #169
Oh it is still missing ECS cluster Terraforming. :(

[2018-07-26 06:22] greut commented on #169
Exoscale isn't AWS either.

[2018-08-13 20:27] llambiel commented on #135
@cgriggs01 can you please give it another try ?

[2018-08-30 07:46] greut commented on #135
@cgriggs01 when running the tests, you'll have to use the new ENV variables.
- `EXOSCALE_API_KEY`
- `EXOSCALE_API_SECRET`

[2018-08-30 18:06] cgriggs01 commented on #135
Hey @greut & @llambiel,

I was able to run the acceptance tests successfully and they are all passing.  Thank you for taking the time to add addition test coverage.

The next phase of the provider development program will be an in depth code review preformed by a member of the Terraform Ecosystem team.  Ecoscale is the 4th in line for this review so it may be a few weeks before an engineer is able

[2018-08-30 18:06] #135 closed

[2018-08-31 15:52] redRolf opened #181 "exoscale_compute.testing: Template not found"
Hey I currently have the problem that my test Terraform deployment fails with following error message:

[code]

this is my .tf file:

[code]

Is there an official list of templates?
Im not sure what I am doing wrong and would be grateful  for some pointers

[2018-08-31 16:09] greut commented on #181
ach... I broke it yesterday

[2018-08-31 16:09] #181 closed

[2018-08-31 16:13] greut commented on #181
@redRolf sorry for that... a quick fix that wasn't thoroughly tested... https://github.com/exoscale/terraform-provider-exoscale/releases/tag/v0.9.36

[2018-08-31 16:25] redRolf commented on #181
@greut no problem thank you for the quick fix 👍
I tested it and it worked for me. I was able to create my test instance on Exoscale using terraform.
This issue can be closed.
Have a great weekend. :)

[2018-08-31 18:18] greut commented on #181
@redRolf you're welcome. You too.

[2018-09-04 17:23] redRolf opened #182 "can not connect to created resource using ssh"
Hey im having problems connecting to a created resource via ssh.
The connection keeps timing out. On the exoscale management interface the correct Base SHH Key is displayed.

my resource is configured like this:
[code]

the ssh connection keeps timing out
[code]

any idea what might cause that?

[2018-09-05 14:05] greut commented on #182
Hi again @redRolf, thanks for your issue.

Did you check that the security group picked by the machine, probably _default_, has the 22 TCP port open?

[2018-09-05 14:15] redRolf commented on #182
thank you so much for the quick response. Specifying a security group did the Trick :)
[code]

[2018-09-05 14:15] #182 closed

[2018-09-19 07:07] falzm commented on #183
Cannot we prompt the managed network as a CIDR (e.g. `"10.0.0.0/8"`) instead of startip/endip/netmask?

[2018-09-19 07:09] mcorbin commented on #183
Not really, because you can have a network starting a 10.0.0.100 and ending at 10.0.0.200 for example. The netmask will be 255.255.255.0 but it's not all the ip in 10.0.0.0/24.

[2018-09-19 07:11] greut commented on #183
@falzm that could be a nice to have. Usually you don't do that in DHCP settings because you have a dynamic lease range and fixed leases range.

@mcorbin can you do this?

1. create a privnet 10.0.0.10 - 10.0.0.200 / 24
2. put a machine with static lease of 10.0.0.1 into that privnet

[2018-09-19 07:12] falzm commented on #183
I see, but this is very unusual to me... It looks more like DHCP lease range – which it is under the hood, I know – than a "managed network" product feel, IMO.

[2018-09-19 07:29] mcorbin commented on #183
The interface configured with the static lease will have the ip, and you should restart your DHCP client in the other machine to obtain a new IP.

About the questions:

You don't need to recreate a network when you do unmanaged => managed (you can use updateNetwork for that). You need to recreate the network on the other side (managed => unmanaged).
Also, when a nic has a static ip assigned to it,

[2018-09-19 07:34] greut commented on #183
how convenient...

Terraform doesn't like asymmetry, you'll have to recreate one in both cases.

Can you change the IP range on the fly?

:crying_cat_face:

[2018-09-19 07:35] mcorbin commented on #183
Yes (with updateNetwork)

[2018-09-19 08:26] vincentbernat commented on #183
@greut Yes, it should be possible to use IP outside the range (but inside the network) for static leases. Only the last IP is reserved.

[2018-09-19 13:35] mcorbin commented on #183
About

[code]
Maybe iprange should be renamed "dhcp", because one day we could add more DHCP options.

[2018-09-19 14:05] greut commented on #183
is not a very strong argument according to our friend Donald.

[2018-09-19 14:14] mcorbin commented on #183
Ok, we will do a breaking change when the time comes. I hope our users will enjoy it.

[2018-09-20 09:13] cianiandreadev opened #184 "Compatibility with Terraform 0.11.x"
I saw in the README in the homepage that the plugin is currently supported with Terraform `0.10.x`.

Can someone tell me about the compatibility with the `0.11.x` please?

Thanks.

[2018-09-20 09:15] greut commented on #184
@cianiandreadev we compile it against the 0.11 release.

https://github.com/exoscale/terraform-provider-exoscale/blob/master/Gopkg.toml#L5-L7

the README is the vanilla one from the [terraform-providers organization](https://github.com/terraform-providers).

[2018-09-20 09:44] greut commented on #183
@mcorbin could the limitation _managed_ to _unmanaged_ be removed?

[2018-09-20 09:48] mcorbin commented on #183
Yes, but we will probably need to create a new API call (or a custom parameter in updateNetwork).

[2018-09-20 09:53] greut commented on #183
@mcorbin I'll try to translate the above ideas into code and see what can work out. I fear that we can only express one of the two options using TF, either always recreate or never recreate.

[2018-09-20 13:50] cianiandreadev commented on #184
@greut thanks for your quick reply.

[2018-09-20 14:16] cianiandreadev opened #185 "provider.exoscale: Unrecognized remote plugin message"
I downloaded the plugin for my Mac from the release page and placed it according to the Terraform third-party plugins guide.

If I run `terraform version` I have:
[code]

My `configurations.tf` is the following:

[code]

I followed [this guide](https://www.exoscale.com/syslog/managing-your-existing-infrastructure-with-terraform/) as reference.

But when I try to run `terraform import exoscale_comp

[2018-09-20 14:28] greut commented on #185
Are you sure you have the `darwin` one?

I'd try running it. This is what is shown to me with the linux one.

[code]

[2018-09-20 14:35] cianiandreadev commented on #185
I have Mac Os 10.13.6. Is it not the darwin_64? Am I wrong?

[2018-09-20 14:39] greut commented on #185
@cianiandreadev indeed, _darwin_ should be the one. Can you run the binary as is?

[2018-09-20 14:44] cianiandreadev commented on #185
If I run the plugin as is with `./terraform-provider-exoscale_v0.9.36` I indeed receive the list of command back. I.e.:

[code]

[2018-09-20 14:47] greut commented on #185
This looks like `terraform` itself and not the plugin which is around 19MB large.

[code]

[2018-09-20 14:51] cianiandreadev commented on #185
Oh my God sorry. I apologize. :(

I ashamed for the mistake. Thanks a lot for your help.

https://media.giphy.com/media/4pMX5rJ4PYAEM/giphy.gif

[2018-09-20 14:53] #185 closed

[2018-09-20 14:55] greut commented on #185
No problem mate. This happens to everybody at least once.

[2018-09-25 12:15] greut commented on #183
#186 is where things are being done.

[2018-10-01 12:09] greut commented on #188
it's probably not worth the effort. The goal of that is to be integrated over there at some point: https://www.terraform.io/docs/providers/index.html

[2018-10-01 12:19] janoszen commented on #188
@greut can I do it in a way so that it will be easy to merge into Terraform itself? Follow their documentation format?

[2018-10-01 13:02] greut commented on #188
Use `make website` is the easiest way to work on the documentation.

What is the goal of _reformating [them] to the GitHub wiki format_?

[2018-10-01 13:15] janoszen commented on #188
@greut to make it easily accessible to the end user using the "Wiki" tab while the provider is not merged into Terraform yet.

[2018-10-01 18:57] llambiel commented on #135
@cgriggs01 Any more precise idea about the timeframe ?

[2018-10-26 06:58] greut commented on #184
#193 changes the README to say 0.10+ rather than 0.10.x

[2018-10-26 06:58] #184 closed

[2018-10-26 07:31] greut commented on #147
More code coverage is always welcome though.

[2018-10-31 14:01] greut opened #194 "security group rule mapping: allow multiple rules"
Having to create / manage each rule separately can be tedious. This provider should allow to set rules in the same fashion than the cloudstack one.

cf. https://www.terraform.io/docs/providers/cloudstack/r/security_group_rule.html

[2018-11-02 07:33] greut commented on #195
@mcanevet we will do that today, hopefully. Cheers!

[2018-11-02 12:19] greut commented on #195
Let us know if you encounter anything strange.

https://github.com/exoscale/terraform-provider-exoscale/releases/tag/v0.9.37

[2018-11-02 14:06] greut commented on #196
what relevant part of your config has the `cidr` value?

[2018-11-02 14:13] greut commented on #196
:face_with_head_bandage:

[code]

[2018-11-02 14:30] greut commented on #196
Not to self... fix the acceptance testing procedure.

[2018-11-02 16:09] adedommelin commented on #194
+1 !

[2019-01-02 19:37] multani opened #205 "Gziped or base64-encoded `user_data` restarts the instance on Terraform's apply"
Hi,

I have the following Terraform test file:

[code]

It creates an instance with some user data using Terraform
`template_cloudinit_config` resource, and the user data is gzipped and base64-encoded
(these are the default value of that resource).

Upon the first apply, Terraform generates this plan:

[code]

Which succeeds, however, subsequent Terraform apply generates the following plan:

[code

[2019-01-02 19:53] greut commented on #205
Thanks for the report.

They should both be set to `false`. It's much easier to read and work with the terraform state afterwards.

[code]

https://github.com/exoscale/terraform-provider-exoscale/blob/master/examples/cloud-init/data.tf

[2019-01-03 07:10] greut commented on #205
@multani we should probably try harder. Let's keep this open for a while.

[2019-01-03 10:57] greut commented on #207
This is probably expected.

[2019-01-03 13:15] greut commented on #207
Closed by 6aa525d7c1d4f39744149f73c87e865d3172f2b6

[2019-01-10 06:31] #205 closed

[2019-01-10 06:36] greut commented on #207
fixed by #206

[2019-02-08 08:04] #194 closed

[2019-02-08 08:21] greut commented on #194
@adedommelin let us know if the latest release works for you.

[2019-02-08 09:02] greut commented on #210
There is concurrent access issue on our backend regarding the way the `ip_address` argument is handled.
If you need any help regarding recovering from this situation, please contact our support: **support :email: exoscale.com**

[2019-02-08 09:08] adedommelin commented on #194
@greut : I've updated the plugin & migrated one of our security groups rules definition to the new format : AFAICS it's working as expected. kudos !

[2019-02-08 10:22] lumasepa commented on #210
The recovery is not a problem, just do a terraform destroy and apply again. I just quit the static ip and it worked fine, I don't really need the static directioning, is just a nice thing to have.

Could we solve this problem waiting for a correct response in the provider?
I would like to fix it. I know that is not the perfect solution but I would like to see this working.

[2019-02-11 10:24] greut commented on #210
A fix has been pushed in production this morning. Thanks a lot for the reports.

[2019-02-12 08:15] greut opened #211 "terraform import exoscale_security_group.default default misses the rules"
no more rules...

[code]

[2019-02-12 08:33] #211 closed

[2019-02-22 10:55] rymdbullen opened #217 "Updating security_group_rules ends in API error ParamError 431"
Dear Maintainer,

Updating an existing ```ingress``` or ```egress``` rule in a ```exoscale_security_group_rules```, like this:

     resource "exoscale_security_group_rules" "default-rules" {
       security_group_id = "${exoscale_security_group.default.id}"
       ingress {
         protocol = "TCP"
         user_security_group_list = ["monitoring"]
    -    ports = ["22"]
    +    ports = ["2222

[2019-02-22 11:35] greut commented on #217
@rymdbullen thanks for the report, we will look into it. One possible issue would be that 2222 already exists in the security group.

[2019-02-22 11:55] rymdbullen commented on #217
The test case is just an example and I know that the port is not in use in the security group. The rules cannot be changed in any way, like renaming, adding entries in the ```user_security_group_list``` etc etc.

[2019-02-28 08:29] greut commented on #188
@janoszen does it help? https://exoscale.github.io/terraform-provider-exoscale/

[2019-02-28 19:04] janoszen commented on #188
Hi Yoan,

It partially does, but the installation instructions are missing. The
Exoscale provider is still not integrated so the plugin needs to be
separately installed, which would be nice to include in the docs.

Janos

On Thu, Feb 28, 2019 at 9:29 AM Yoan Blanc <notifications@github.com> wrote:

[2019-03-04 14:45] rymdbullen commented on #217
@greut, yes I can confirm that changes to ``ìngress``` rules work but not ```egress```.

PS: Sorry for the delay, one week of skiing holiday did not permit any work to be done...

[2019-03-04 14:48] greut commented on #217
Lucky you :skier:  Let us know if you still encounter strange behaviors.

[2019-03-07 08:38] rymdbullen commented on #217
It is all good, you have done well!

Thanks for your outstanding support!

[2019-03-07 08:38] #217 closed

[2019-03-10 18:30] janoszen commented on #188
Btw THANK YOU for this, it made my live massively easier :)

[2019-03-10 19:08] llambiel commented on #135
@cgriggs01 Is there still hope for this provider to get merged ?

[2019-03-11 07:04] janoszen opened #223 "Changing user_data in exoscale_compute does not recreate resource"
A change in user_data only changes the user data on the platform, but does not recreate the exoscale_compute resource, which would be necessary to apply said user data.

In order to apply the changes one has to manually taint the resource.

[2019-03-25 07:34] greut commented on #223
Some `user_data` are applied without the compute instance to be recreated iirc.

[2019-03-25 18:10] janoszen commented on #223
Fair enough.

[2019-03-25 18:10] #223 closed

[2019-03-26 06:18] greut commented on #224
Good point.

What do you think of this behavior:
1. associate the new `compute_id`
2. remove the old `compute_id` (if the above command succeeds)

For a sort period of time, the two will be linked with the EIP but it makes the error handling nicer as you won't have to reattach it.

[2019-03-26 08:15] janoszen commented on #224
If you can‘t do an atomic switch, this is the next best way. I would
appreciate it, thank you.

On Tue 26. Mar 2019 at 07:18, Yoan Blanc <notifications@github.com> wrote:

[2019-03-26 10:11] rymdbullen opened #225 "exoscale_security_group: Cannot delete if inter-dependent rules exists"
Hello,

I experience an issue when I have two `exoscale_security_group`s with inter-dependent `egress/ingress` rules. This issue happens when I try to create or delete security groups with rules.

This is the error message when trying to delete two security groups:

    * module.customer-prd-appname.module.security-group-database.exoscale_security_group.security-group-customer (destroy): 1 error(s

[2019-03-26 10:37] greut commented on #225
Do you mind pasting the relevant `.tf` section you've used?

If you don't managed *every rules* using the provider, such conflicts might occur.

Cheers

[2019-03-26 11:12] greut commented on #224
An issue with this, the identifier is not valid anymore. It's been made of `<NicID>_<IPAddress>` and since the NicID changes, it's must be a new resource.

I don't any easy ways to solve this. Probably a wont fix as this can be handled by two `terraform apply` if you really want to have the new one *and* the old one at the same time. cf. #226

[2019-03-26 12:07] janoszen commented on #224
Having both at the same time would be better that not having any assignment
because incase of create/destroy the process can take quite long due to the
resources running inbetween.

On Tue 26. Mar 2019 at 12:12, Yoan Blanc <notifications@github.com> wrote:

[2019-03-26 13:38] rymdbullen commented on #225
Hey,

I do manage all the rules (at least I think I am). Hereafter you find the module and its submodule.

Module: project-unit/main.tf

    module "project-customer-security-group-application" {
      source = "./security-group"
      unit_name                    = "${var.unit_name}"
      security_group_type          = "app"
      security_group_customer      = "${var.unit_customer}"
      secur

[2019-03-26 14:44] greut commented on #224
@janoszen it Terraform model makes it impossible unless it gets an random identifier rather than a useful one. `<random>_<IPAddress>` vs `<NicID>_<IPAddress>`. Having a useful identifier means checking for existence and importing work. Otherwise, you lose that.

[2019-03-26 14:50] greut commented on #224
It feels like a won't/can't fix.

[2019-03-26 15:08] greut commented on #225
I see clearer now. Terraform builds a _graph_ of dependencies that it walks around *correctly*. Here, by use real names for the `user_security_group_list` rather than values coming from an actual resource, it cannot figure out the dependency. This can be solved by make the those relationships explicit.

E.g.

[code]

[2019-03-27 07:09] greut commented on #224
Hopefully some future capabilities on the elastic IP side will help switching from one to another more smoothly that solely via _terraform_

[2019-03-27 07:56] rymdbullen commented on #225
Maybe it's just my lack of understanding...

When I look at the specification of the `user_security_group_list`, it says that it is a string, just a plain string. I'm not sure I understand this correctly: When creating the groups and its rules, you can use the "display name" of the group/rule. In the Exoscale interface I can see that the references are correct after the creation of the groups/rule

[2019-03-27 08:13] greut commented on #225
Let's say the _dotted_ lines are explicit links, make via `"${exoscale_security_group.application.name}"` (for the `application` security group). And the solid one, is made using text, `"application"`.

![Screenshot from 2019-03-27 09-13-45](https://user-images.githubusercontent.com/1388/55059959-9d78a700-5070-11e9-9e62-05ee7343f06b.png)

Both ways resolve to the same value **but** the explicit on

[2019-03-27 10:54] rymdbullen commented on #225
Thank you very much for the pointers. It is very clear.

It's up to me to understand how to get the reference from a resource not created by a module. I need to get on top of how to pass along a reference (not created in a module) to a module.

[2019-03-27 10:56] greut commented on #225
@rymdbullen mixing up modules looks tricky and will probably not work that simply. You could maintain the security groups definitions outside of the modules and only pass them to the modules managing the instances.

Best of luck.

[2019-03-29 09:52] pierre-emmanuelJ opened #227 "Add goreleaser"
Can be an idea to package with [goreleaser](https://goreleaser.com) to package in brew tap and deb/rpm to install plugin automagically

[2019-04-02 08:10] janoszen commented on #224
Fun fact: if you use the create_before_destroy lifecycle rule it works perfectly. Not sure why though. Maybe adding this to the docs could be helpful?

[2019-04-03 06:50] #225 closed

[2019-04-03 23:59] bill-rich opened #228 "Provider Review"
Hello!

My name is Bill, I'm a member of the Terraform team @ HashiCorp.

I’ve taken a look at the provider here and would like to say great work so far! I do have feedback outlined below that I’d like to see addressed before we move on to the next steps. I’m opening this issues as a sort of checklist for tracking remaining items and discussion. The review was done on the git commit 14676a7561ffcb

[2019-04-04 07:36] falzm commented on #228
Hi Bill!

Thank you for taking the time to review our provider. We'll check those points and get back to you ASAP.

[2019-04-08 14:06] falzm commented on #228
Requested changes will be implemented in the `hashicorp-provider-review` branch: https://github.com/exoscale/terraform-provider-exoscale/tree/hashicorp-provider-review

[2019-04-11 12:37] mcorbin opened #230 "compute: users should be able to use non-featured templates"
Currently, Terraform only works with `featured` templates (cf https://github.com/exoscale/terraform-provider-exoscale/blob/master/exoscale/resource_compute.go#L221).

Users should also be able to use `public` but non `featured` templates (and also `featured` but non `public` templates).

Maybe we should perform 2 listTemplates call (with templatefilter=public and with templatefilter=featured) and

[2019-04-11 12:42] greut commented on #230
Ideally, this provider should rely on a data_source for that. Probably backward incompatible though.

- https://www.terraform.io/docs/providers/do/d/image.html
- https://www.terraform.io/docs/providers/aws/d/ami.html

Good luck

[2019-04-23 06:03] janoszen commented on #230
My two cents: I think if a named template is used the priority should be the latest non-public template, then the latest public template. Additionally the data source should be implemented.

[2019-04-29 12:13] falzm commented on #230
A fix is on the way: https://github.com/exoscale/terraform-provider-exoscale/pull/232

[2019-04-30 11:59] janoszen opened #233 "Allow setting reverse DNS for IP addresses"
`exoscale_ipaddress` currently does not allow for setting the reverse DNS. This, however, would be very important in some cases. Please provide an ability to do that.

[2019-04-30 12:00] janoszen opened #234 "Resource for creating custom templates"
There is currently no resource for creating custom templates with the `registerCustomTemplate` call. It would be useful to have one so that a whole immutable pipeline can be built in Terraform.

[2019-04-30 12:02] janoszen commented on #114
@greut does this make sense following Terraforms phylosophy of immutable infrastructure? I would rather have something similar to [keepers](https://www.terraform.io/docs/providers/random/index.html) so that the machine can be reprovisioned when one of the source files change.

[2019-04-30 12:04] janoszen commented on #188
More comprehensive Terraform introduction to Exoscale including installation instructions is available at [handbooks.exo.io](https://handbooks.exo.io/terraform/)

[2019-04-30 12:07] falzm commented on #233
Hi @janoszen, thank you for suggesting this feature, this should be doable. Stay tuned!

[2019-04-30 12:22] falzm commented on #234
Hi @janoszen, I'm not sure the `registerCustomTemplate` is actually a stage where Terraform is involved. This is probably more a job for exo? (see this PR that landed in the latest released: https://github.com/exoscale/cli/pull/132)

[2019-04-30 16:38] janoszen commented on #234
It would be in my setup. :) I like using Terraform as a point of entry for
my infrastructure. Worst case I’ll use a null resource but it would be
easier to have Terraform replace the templates.

On Tue 30. Apr 2019 at 14:23, Marc Falzon <notifications@github.com> wrote:

[2019-05-02 07:43] falzm commented on #234
Well indeed you can use null resources to achieve this for the moment: we'll consider supporting this feature, but no strong promises here.

[2019-05-21 14:55] falzm opened #237 "Impossible to remove tags set on a compute resource"
When creating a `exoscale_compute` resource with tags, it's not possible to remove them altogether:

Example with the following configuration:

[code]

[code]

Once created, if the `tags` attribute is removed from the resource definition the provider won't detect the change:

[code]

[2019-05-28 16:05] falzm commented on #228
Hi @bill-rich,

Our provider has been reworked a lot in order to meet your expectations, you can see the changes in the following PR: #229.

We've addressed almost all the points you mentioned, with one exception: in the `resource_secondary_ipaddress` resource there are attributes set in the `Create` function instead of the `Read` function because this resource is actually a "composite" (i.e. it d

[2019-05-28 17:18] #230 closed

[2019-05-29 10:23] falzm commented on #227
Done: a6f6d7a3c743ab2d2fc2945dbd86fd0642a086c4

[2019-05-29 10:23] #227 closed

[2019-05-29 10:25] falzm commented on #188
I'm closing this issue since it is beyond the scope of the provider.

@janoszen we'll soon discuss Exoscale-wide documentation improvements ;)

[2019-05-31 18:42] ig0rsky opened #239 "Provisioning GPU Instances using Terraform provider"
Hey,
    We would like to know if it's possible to provision GPU instances using your Terraform provider. I couldn't find it in your provider documentation. Is this a feature you're planning to implement in the near future?

Thanks ❤️

[2019-06-03 09:27] falzm commented on #239
Hi @ig0rsky 👋

GPU instances provisioning is supported, you just have to specify a GPU *Service Offering* (i.e. `size` of a `exoscale_compute` resource). You can find the complete list of SO by running this [exo](https://github.com/exoscale/cli) command:

[code]

Note: access to GPU instances must be requested via a support ticket in your Exoscale account.

[2019-06-03 09:27] #239 closed

[2019-06-14 14:14] rymdbullen opened #242 "Dynamically created DNS A record changes when changing count"
Hello,

When I dynamically create a compute resource, I want to handle the creation of a DNS A record. But when I scale to multiple compute resources a small problem arises.

The issue that I have is that the service that I want to scale is shut down during the creation of a new resource in this cluster.

Every change of the DNS entry reboots the server that is related to this DNS resource. Is the

[2019-06-14 15:17] greut commented on #242
The interesting part of the plan is probably related to the `compute-node[1]` and `compute-node[2]`. The record side of the story is probably just fine.

[2019-06-14 16:28] rymdbullen commented on #242
Ok, so this tf code is a module called with all variables needed to create the compute and the related DNS record, even an eip if need be. So without further ado, here comes the main.tf of the module:

    data "template_file" "cloudinit-bootstrap" {
      template = "${file("${path.module}/bootstrap.tpl.yml")}"
      count    = "${var.compute_count}"

      vars {
        display_name     = "${lo

[2019-06-14 16:39] greut commented on #242
Thanks, what does the `terraform plan` say that would gives out some hints that the compute instances might restart when you add a node.

[2019-06-14 17:09] rymdbullen commented on #242
I just ran the same plan adding a compute resource (from 3 to 4 nodes).

It is rather "dishonest" :) as it says :

      ~ module.compute-project-infra-cache.exoscale_domain_record.dns-record[0]
          content:                    "1y4.masked.189" => "${element(exoscale_compute.project-compute-node.*.ip_address, count.index)}"
          name:                       "infra-prd-cache-1.instance" =>

[2019-06-14 17:20] greut commented on #242
I'd like to understand how the `exoscale_compute` are changing, not the domains. It's like their name are changing but you've only showed 4 out of 8 items here.

[2019-06-14 19:37] rymdbullen commented on #242
Thats it, you made my day. This issue was nothing but a stupid mistake, it should never had come this far. The bootstrap template contained the variable **count** - which changes from 3 to 4 in this case. Clearly, the bootstrap template changes its content, hence it restarts the servers.

You pointed me in the right direction! Very helpful.

Thanks a lot for your help and assistance. Really apprec

[2019-06-14 19:37] #242 closed

[2019-06-14 20:58] greut commented on #242
:+1: https://www.terraform.io/docs/configuration/resources.html#ignore_changes

[2019-06-24 09:12] falzm commented on #228
Hi @bill-rich, just to let you know that we've merged the review branch into the master branch in order to avoid re-base toil: you can now review the master branch for requested changes.

[2019-07-04 14:26] BostjanBozic opened #243 "Issue deleting domain records"
`terraform destroy` fails when trying to delete DNS records.

**Terraform version**: v0.12.3
**Provider version**: v0.11.0

It seems that provider deletes DNS domain prior to deleting DNS records, which results in provider not finding records that it still has to delete:
[code]

I checked `terraform.tfstate` and DNS module entry is gone (using module to spin add domain):
[code]

At the same time,

[2019-07-04 14:39] greut commented on #243
`TF_LOG=trace` will show you more.

I cannot speak for the 500 errors but regarding the ordering, it's handled by the Terraform engine. Make sure the records are somehow linked with the domain.

[code]

https://github.com/exoscale/terraform-provider-exoscale/blob/master/examples/dns/main.tf

[2019-07-04 14:41] greut commented on #243
@BostjanBozic a variable won't do the job of telling Terraform the relationship between the various resources you've got.

https://github.com/BostjanBozic/exoscale-cookbooks/blob/4506dbca56f1ecf9bc2025d460a0adfe818adc38/openshift/terraform/openshift/dns.tf#L3

[2019-07-04 14:54] BostjanBozic commented on #243
@greut Thank you for insight, I see where the issue is now.

Do you have any idea, is it possible to fetch this from another module, e.g. `domain = "${module.dns.exoscale_domain.exo.name}"` (this way would not work), or do I have to output variable in another module (e.g. variable `domain_name`) and use it with `domain = module.dns.domain_name` (though I believe in this case we are again on same i

[2019-07-04 14:56] greut commented on #243
It is, you have to expose it using `output`.

[2019-07-04 15:09] BostjanBozic commented on #243
Yeah, that seems to do the trick - it keeps track on relationship. Only thing is that I can only fetch output from child modules (I believe), which means that it is fetched then in `main.tf`; do you know, am I missing something or is this currently the only way supported?

[2019-07-16 14:50] janoszen opened #245 "DNS record creation leads to JSON error"
When updating a DNS record that leads to an unexpected error:

[code]

Configuration

[code]

Relevant debug log:

[code]

[2019-07-16 15:36] falzm commented on #245
Hi @janoszen thank you for reporting this bug, we'll have a look into this.

[2019-07-26 12:08] falzm commented on #228
Hello @bill-rich, any update regarding our provider re-review by any chance?

[2019-07-26 22:00] bill-rich commented on #228
Hey @falzm. I just looked through the changes, and it looks good. On the `resource_secondary_ipaddress`, ideally the `Read` function would use the ID to read in required components of the resource, but it looks like you've got it covered well to make sure nic/IP changes are managed. I'd say you're ready to go code-wise. Thanks for your patience.

[2019-09-30 14:48] martialt opened #6 "Issue with exoscale_network resource creation"
Hi,

I tried to create a private net with this below code.
[code]

and I obtained this error.

Works with this. Changing the ```end_ip``` address.
[code]

[2019-09-30 14:52] mcorbin commented on #6
Hello,

The last IP of the network is reserved for the DHCP server itself, that's why it does not work with  `end_ip = 192.168.0.254`.

We will soon release a new documentation about managed private networks which will contain this information.

Sorry for the inconvenience.

[2019-09-30 14:54] martialt commented on #6
Okay
Thank you for the quick answer.

[2019-09-30 14:54] #6 closed, assigned to nobody

[2019-10-03 14:35] rubij opened #8 "Using IDs for template in exoscale_compute resource trigger resource re-creation when terraform apply"
Hi,

Considering this code :
[code]
Will always result on a resource recreation when calling terraform apply :
[code]
This issue prevent me to use my own custom template hosted at Exoscale.

Is there any workaround you know about ? Using the template name will not work as described in the documentation (using name only permit the usage of "featured" templates.)

Best regards
J.R

[2019-10-03 15:10] mcorbin commented on #8
Hello,

You are right, using an ID in `template` triggers a resource recreation.

It should be possible to use a name for non-featured templates using the datasource `exoscale_compute_template` (cf https://www.terraform.io/docs/providers/exoscale/d/compute_template.html), but it seems we have the same bug on it.

We will investigate the issue.

[2019-10-03 15:18] rubij commented on #8
Hello,

I confirm that using the datasource `exoscale_compute_template` produces the same bug.

Best regards
J.R

[2019-10-08 14:48] falzm commented on #8
Hi @rubij, a fix to this issue is underway (see PR referenced for more details).

[2019-10-09 11:32] rubij commented on #8
Hi @falzm thanks for the notification.

Is a minor release plan to be delivered soon ?

Best regards
Jonathan Rubiero

[2019-10-09 12:07] falzm commented on #8
@rubij yes we'll release a new version quickly after merging this PR.

[2019-10-14 11:58] #8 closed, assigned to nobody

[2019-10-21 11:03] gregkare opened #13 "Impossible to provision new servers"
Hi there,

We're running into an issue provisioning new servers (using Chef, but it's failing when trying to connect to the new host via SSH)

This is using the latest provider (0.13.0) and the latest Terraform release (v0.12.12). Previously we were using version 0.11.0 from the old repo, and that worked, but I'm getting the same issue with this old version now, so I guess something changed in Ter

[2019-10-21 11:09] gregkare commented on #13
I could provision a new host by downgrading Terraform to 0.11.15-oci. For now I have tried the previous version (0.11) of the exoscale provider, but I will try with 0.13.0 next

[2019-10-21 11:20] gregkare commented on #13
Provisioning also works with version 0.13.0 of the exoscale provider, so this only happens with terraform 0.12.

[2019-10-21 12:35] falzm commented on #13
Hi @gregkare, can you report the template you've using on those Compute instances? Do you have the same problems with other templates?

[2019-10-21 12:38] gregkare commented on #13
I'm using "Linux Ubuntu 18.04 LTS 64-bit". Let me try another template

[2019-10-21 12:47] gregkare commented on #13
Something's wrong with the Exoscale API now, getting these errors:

[code]

relevant config:

[code]

[2019-10-21 12:51] falzm commented on #13
Hmm yes sorry bad timing, we're experiencing API issues at the moment: https://exoscalestatus.com/incidents/3de6b817-3f36-4613-8a94-8de22a327400/

[2019-10-21 12:59] gregkare commented on #13
I'm getting the same issue with the "OpenBSD 6.5 64-bit" template (no host when trying to connect via SSH on Terraform v0.12.12)

[2019-10-21 13:02] falzm commented on #13
Can you please share your SSH provisioner configuration?

[2019-10-21 13:40] gregkare commented on #13
I don't have an explicit SSH provisioner configuration, for that last test I was using a `remote-exec` provisioner with an inline list of commands. In my `exoscale_compute` resource the `key_pair` is set to the name of my SSH key. I wonder what I'm missing

[2019-10-21 13:47] falzm commented on #13
Within your *exoscale_compute* resource's `provisioner "remote-exec" {}` block, can you please try to add the following configuration (make sure to adapt the variable name to match the *exoscale_compute_template* data source used with the resource `template_id` attribute):

[code]

[2019-10-21 14:10] gregkare commented on #13
This works (your example was missing the host, that's required so I added that, `test` is the compute resource I'm creating). So it looks like the issue is the host not being passed automatically using Terraform 0.12?

[code]

[2019-10-21 14:15] falzm commented on #13
This is a change that has been implemented in the version 0.13.0, deprecating the *exoscale_compute* [`username`](https://www.terraform.io/docs/providers/exoscale/r/compute.html#username) attribute that was until now used to implicitly pre-fill the *remote-exec* provisioner `user` value. The problem is that this attribute was buggy (e.g. was set to an incorrect value when using the *exoscale_compu

[2019-10-21 14:15] #13 closed, assigned to nobody

[2019-10-21 14:40] falzm commented on #13
By the way the Terraform documentation [recommends using the `self` object](https://www.terraform.io/docs/provisioners/connection.html#the-self-object) instead of referencing the parent resource by name (so that would be `host = "${self.ip_address}"` instead of `host = "${exoscale_compute.test.ip_address}"` in your case).

[2019-10-21 14:48] gregkare commented on #13
Thanks

[2019-11-05 09:20] rubij opened #19 "State locking with Exoscale SOS / S3"
Hello,

I am wondering if it is possible to enable state locking using the SOS resource ? (and so a DynamoDB ?)

Best regards
Jonathan Rubiero

[2019-11-05 10:09] falzm commented on #19
Hi @rubij, if I understand what you try to achieve correctly (using the `s3` backend to store your TF remote state on Exoscale SOS and use an AWS DynamoDB table for locking), that won't work since you'd set Exoscale API credentials in the backend configuration and those would be reused to authenticate against the AWS API for DynamoDB...

[2019-11-05 10:24] rubij commented on #19
Hi @falzm, thanks for your reply, we can close this issue.

[2019-11-05 10:24] #19 closed, assigned to nobody

[2019-11-25 22:21] rrelmy opened #22 "terraform import exoscale_compute fails"
I am trying to import an existing compute instance that has been created with terraform before but the state has been lost.

<details>
<summary>The resources of the compute, ip and secondary up looks like this</summary>

[code]
</details>

---

I tried it with the ID of the instance (some data is redacted) like it is described in [the blog post](https://www.exoscale.com/syslog/managing-your-existi

[2019-11-26 07:52] falzm commented on #22
Hi @rrelmy, thank you for reporting this issue. Can you please report your Terraform version and Exoscale provider version by running the `terraform version` command?

[2019-11-26 08:17] falzm commented on #22
We've managed to reproduce the bug on our side: we'll investigate and let you know as soon as we have a fix.

[2019-11-26 13:44] #22 closed, assigned to nobody

[2019-12-06 10:36] PhilippeChepy opened #28 "Unable to provision a SOS bucket via AWS Plugin"
It is impossible for me to provision an SOS bucket via terraform (with the AWS provider). But until very recently, we were able to do so.

We use Terraform v0.12.17 and the AWS version 2.41 plugin (we have the same problem with version 2.20 which used to work until now).

Here is the code we use:

[code]

Here is the terraform output :
[code]

[2019-12-06 13:37] PhilippeChepy commented on #28
Exoscale support contacted me again to let me know that the problem was on their infrastructure. A patch was deployed on their side and solved the problem.

[2019-12-06 13:37] #28 closed, assigned to nobody

[2019-12-06 13:39] falzm commented on #28
OK, no problem :)

[2019-12-11 14:54] rubij opened #30 "Instance pool availability"
Hello,

Is there an upcoming release embedding the instance pool resource ? I can see that they are available on the Exoscale portal.

Best regards
Jonathan Rubiero

[2019-12-11 15:23] falzm commented on #30
Hello @rubij, yes, we're in the final steps of releasing a new version of the provider supporting this new feature. Stay tuned ;)

[2019-12-12 11:30] rubij commented on #30
Hello, ok thanks for the notification,

[2019-12-12 11:30] #30 closed, assigned to nobody

[2019-12-12 16:14] falzm commented on #30
Hi @rubij, version 0.15.0 supporting Instance Pools is now available. Enjoy!

[2019-12-19 16:00] rubij opened #36 "Usage of provisioners in exoscale_instance_pool"
Hello,

How can the terraform provisioners (file, remote-exec, local-exec etc) can be used with the new exoscale_instance_pool resource type ?

Best regards
Jonathan Rubiero

[2019-12-19 16:03] falzm commented on #36
Hello @rubij,

TF provisioners cannot be used with this resource, as an Instance Pool is spanning multiple Compute instances whereas a provisioner expects only one instance.

[2019-12-19 16:12] rubij commented on #36
Hello,

Thanks for your quick answer.

Best regards
Jonathan Rubiero

[2019-12-19 16:12] #36 closed, assigned to nobody

[2019-12-21 10:45] mcorbin opened #37 "compute: ssh key issue"
Hello,

I have an issue creating virtual machines with an SSH key.

My Exoscale account has one SSH key (not managed by Terraform) which is my default key. I want to create a new key and 2 virtual machines using this new key:

[code]

Terraform apply output:

[code]

As you can see, the plan indicates `key_pair           = "test-bug"`

But my virtual machines were created with my default key pair

[2019-12-21 11:16] greut commented on #37
@mcorbin it's a CloudStack bug. https://github.com/exoscale/terraform-provider-exoscale/issues/69#issuecomment-369607442

[2019-12-23 15:09] #37 closed, assigned to nobody

[2019-12-27 22:38] mcorbin opened #40 "case sensitive instance size"
I have this Terraform configuration:

[code]

Terraform apply:

[code]

If I run `terraform plan` again:

[code]

As you can see, configuring the instance `size` with a lowercase offering name will cause Terraform to always update the size. It would be nice to have the size case insensitive if possible.

[2019-12-27 22:51] mcorbin opened #41 "Strange cycle error"
I have this Terraform configuration:

[code]

Terraform apply output:

[code]

Now, I update the `template_id` to a new one (for example `c00df33a-df5b-47d2-b9c8-a2eee9ef24a3`), and re-run terraform apply:

[code]

i was expecting Terraform to destroy and then recreate the instances with the new template, but instead I have a cycle error but I'm not sure to understand why.

[2019-12-30 07:43] falzm commented on #40
Hi @mcorbin, thank you for reporting this. We'll fix it!

[2019-12-30 08:11] falzm commented on #41
Hi @mcorbin. We'll have a look at this, but IIRC the cycling errors are due to the TF core (the DAG is managed by the core) so I'm not sure we'll be able to do much at the provider level...

[2019-12-30 08:18] falzm commented on #41
I've tested with your configuration and didn't reproduce the issue myself:

[code]

Can you please report your TF core/provider versions?

[2019-12-30 09:17] mcorbin commented on #41
I can reproduce the issue with Terraform `v0.12.8` but not with `v0.12.18`, so the issue was probably in Terraform itself.

[2019-12-30 09:27] #41 closed, assigned to nobody

[2020-02-06 15:31] ghost opened #45 "case sensitive instance state"
The documentation says `state = "Running"` is the correct way of setting the instance state. However, this leads to constant updates of the instance state because the result is lower case.

[2020-02-06 15:40] falzm commented on #45
Hi @janoszen, can you please illustrate the context of this issue? I've just checked and the API actually returns capitalized `state` labels:

[code]

[2020-02-21 14:03] ghost commented on #45
This (no longer?) seems to be the case.

[2020-02-21 14:03] #45 closed, assigned to nobody

[2020-03-09 12:39] Mayeu opened #47 "Feature Request: IAM support"
Hello 👋

I was checking the [egoscale project](https://github.com/exoscale/egoscale/blob/master/CHANGELOG.md#0200) and it seems that Exoscale's IAM support has been added there.

Any ETA or work in progress to add the IAM configuration support in the Terraform provider?

[2020-03-09 13:12] pierre-emmanuelJ commented on #47
Hello @Mayeu 😃

Thank you for your interest in our project and especially on this subject.

We take note, and we will come back to you with some good news in a near future.

Stay aware about our next announcements, and we'll come back to you for an update.

Thanks

[2020-03-11 10:11] Mayeu commented on #47
@pierre-emmanuelJ Thanks for your response 👍 I'll be waiting eagerly then 😉

[2020-03-31 19:44] ghost opened #48 "exoscale_compute should allow deploying with private network"
Currently the `exoscale_compute` resource does not allow for deploying with private networks attached. However, the API does allow that. Therefore it would be desirable to have a parameter to allow for that.

[2020-04-01 07:00] falzm commented on #48
Hi @janoszen, that sounds like a legitimate feature request. We'll add it to our TODO-list, this should be ready in a near future. Stay tuned!

[2020-04-01 07:11] falzm commented on #48
@janoszen one thing though, now that I think about it: Private Networks are not attached directly to instances but uses a `exoscale_nic` resource to link the 2 resources logically. So, in theory you should be able to create your `exoscale_network` resource first, then when you later create a Compute instance and want to attach it to your Private Network you create the Compute instance resource alo

[2020-04-01 10:05] ghost commented on #48
Not really, because when a provisioner deploys a software that needs to listen on that interface, the interface needs to be up before the provisioner runs. In my case I am deploying etcd to run in a dedicated private network in such a fashion. This is required because etcd is very particular about which IPs it is using.

Right now I have a provisioner on the nic resource, but that is causing probl

[2020-04-05 08:55] ghost commented on #48
This is my current workaround such that the instance is still destroyed on a deployment failure: https://github.com/janoszen/terraform-kubernetes-exoscale/blob/master/masters/files/attach-network.sh which is called from here: https://github.com/janoszen/terraform-kubernetes-exoscale/blob/master/masters/instance.tf#L43
It's less than nice.

[2020-04-05 09:27] greut commented on #48
@janoszen sorry to intervene. From the CloudStack point of view, a workaround would be to create the VM, attach the NIC, then start it, or have the cloud-init wait for the NIC to be present. The former looks hard to implement solely using Terraform, the latter should be simpler and a good opportunity to use the [multi-part cloud-init config](https://www.terraform.io/docs/providers/template/d/cloud

[2020-04-05 09:56] ghost commented on #48
@greut there are several workarounds, the reason why I go with a provisioner rather than cloud-init is the security aspect. I don't want API keys to float around on the metadata server (potential SSRF), especially since the key provisioning can't be done via Terraform at this time.

[2020-04-05 10:01] greut commented on #48
Indeed, nobody should put secrets in those files.

[2020-04-09 12:02] pagedidier opened #49 "resourceSSHKeypairCreate does not return the privatekey value"
Hello :wave:

I'm currently using terraform with the Exoscale provider and I noticed an error in the resourceSSHKeypairCreate function.

According to the [Exoscale's API documentation](https://community.exoscale.com/api/compute/#createsshkeypair_GET) the request should return the private key.

But if we create an exoscale_ssh_keypair ressource like this :

[code]
The output gives us :

[code]

But

[2020-04-09 15:30] falzm commented on #49
Hi @pagedidier, thank you for reporting this issue: turns out it's a bug, we've identified the cause and a fix is on the way: #50.

[2020-04-09 16:00] #49 closed, assigned to nobody

[2020-04-09 16:01] falzm commented on #49
A new release including the fix will be pushed soon, sorry for the inconvenience.

[2020-04-10 14:41] falzm commented on #49
@pagedidier new version 0.16.2 is available 👍

[2020-06-09 15:50] yann-soubeyrand opened #54 "exoscale_compute should allow setting reverse DNS"
Hi,

I didn't find a way to set the reverse DNS of a compute instance. Would it be possible to add it to exoscale_compute resource?

[2020-06-10 07:20] falzm commented on #54
Hi, this is not supported at the moment indeed, we'll put it on our internal to-do list.

[2020-06-26 12:20] #54 closed, assigned to nobody

[2020-06-26 12:21] falzm commented on #54
Hi @yann-soubeyrand, we've implemented the support for the Compute instances reverse DNS management to the provider, it'll soon be available so stay tuned for upcoming releases :)

[2020-06-26 17:34] yann-soubeyrand commented on #54
Thanks @falzm!

[2020-08-10 14:28] raphink opened #62 "Cannot loop on instance pool instances"
Using the `exoscale_instance_pool` resource type (provider v0.18.2), I'm trying to retrieve the instances linked to the resource and loop on them to create DNS entries.

I've seen the `virtual_machines` attribute in the code (though it is not listed on https://registry.terraform.io/providers/exoscale/exoscale/latest/docs/resources/instance_pool#argument-reference), but I cannot loop on it, as Terr

[2020-08-10 14:50] falzm commented on #62
Hi @raphink, can you please share the complete TF conf relevant to this issue, so we can try to reproduce it?

[2020-08-10 15:19] falzm commented on #62
I take note that the attribute does indeed lack proper documentation, we'll fix this soon.

Looking at the error in your issue however, it looks like you're trying to access the public IP address of the members of the Instance Pool, however the type of value of the `virtual_machines` attribute is a plain string that only describes the Compute instance name: https://github.com/exoscale/terraform-pr

[2020-08-10 18:03] raphink commented on #62
Ah, so the issue is with `ip_address`, not `count.index`. Is there another way to retrieve the IP addresses of the nodes then?

[2020-08-11 09:06] raphink commented on #62
Just tested again, the issue is clearly with indexing `virtual_machines`. Here's a MWE:

[code]

yields:

[code]

[2020-08-11 09:38] falzm commented on #62
@raphink indeed, since the attribute value type is a string it's logical that you end up getting this error. I'm afraid there is no way to retrieve the Instance Pool's members IP address easily at the moment, to my knowledge.

We could extend the `exoscale_compute` data source to expose an `instance_pool_id` attribute that would filter the results of the lookup to the ownership to the specified In

[2020-08-11 09:48] raphink commented on #62
Actually, it was my error (again). It is possible to loop on `virtual_machines` with the proper Terraform syntax:

[code]

[2020-08-11 09:54] falzm commented on #62
Well, looks like I'm better at developing TF providers than I am using them 😅 Nice find @raphink!

[2020-08-11 09:55] raphink commented on #62
Same here. I'd much rather write Go code than HCL 😉

[2020-08-11 10:00] #62 closed, assigned to nobody

[2020-08-11 12:28] raphink opened #64 "Missing attributes in doc"
In the documentation for NLB: https://registry.terraform.io/providers/exoscale/exoscale/latest/docs/resources/nlb_service

The computed attributes (`created_at`, `state`, `services`, `ip_address`) are missing.

[2020-08-11 12:32] falzm commented on #64
Thank you for reporting this @raphink, will be fixed ASAP.

[2020-08-11 15:44] #64 closed, assigned to nobody

[2020-08-18 10:01] huerlisi opened #65 "exoscale_security_group_rules does not use stable sorting of rules"
When using `exoscale_security_group_rules` do define multiple rules at once, terraform will detect changes all the time.

Terraform does fetch the current state to compare it to the desired state. If there are changes, it does apply the changes. It seems that when terraform fetches the iprules, it uses a "random" sorting of those rules. Therefore the resource gets updated even if there is no chang

[2020-08-18 10:30] greut commented on #65
Hi @huerlisi everything in this resource is a _Set_, hence it shouldn't be sensitive to any sorting problems. What kind of changes are detected by Terraform?

[2020-08-18 12:40] falzm commented on #65
Hi @huerlisi, I'm not able to reproduce the issue you're reporting (if I understood correctly):

[code]

[code]

Can you please share your actual configuration so we can try to reproduce your issue?

[2020-08-21 10:05] huerlisi commented on #65
Thanks for the investigation!

I figured the issue while trying to do a reproducible example. It was actually a rule for protocol `IPIP` that was missing the `ports` attribute.

[2020-08-21 10:05] #65 closed, assigned to nobody

[2020-09-20 22:08] ghost opened #72 "Failure to destroy on instance pool manual removal"
# Abstract

When creating an instance pool, then manually removing it, and running `terraform destroy` the application crashes with `Instance pool "xxx" not found`.

# Steps to reproduce

1. Create the following Terraform config, run `terraform init`, and `terraform apply`

[code]

2. Delete the created instance pool manually
3. Run `terraform destroy`

# What happens?

[code]

# `terraform versio

[2020-09-20 22:11] ghost commented on #47
Any update on this issue? IAM support would be really nice.

[2020-09-20 22:13] ghost commented on #40
This bug no longer exists and can be closed.

[2020-09-20 22:30] ghost opened #73 "Failure to destroy on NLB manual removal"
# Abstract

When creating an instance pool, then manually removing it, and running `terraform destroy` the application crashes with `Error: resource not found`.

# Steps to reproduce

1. Create the following Terraform config, run `terraform init`, and `terraform apply`

[code]

2. Delete the created NLB manually
3. Run `terraform destroy`

# What happens?

[code]

# `terraform version`

[code]

[2020-09-21 07:35] falzm commented on #40
I still can reproduce it @janoszen.

[2020-09-21 07:40] falzm commented on #47
Hi, we have no plans for supporting Exoscale IAM resources management in the Terraform provider in the near future. I suggest you have a look at Vault for this, for which we provide a backend for managing IAM API keys: https://github.com/exoscale/vault-plugin-secrets-exoscale

[2020-09-21 07:40] #47 closed, assigned to nobody

[2020-09-21 07:47] ghost commented on #47
That is very sad. Deploying Vault is not an option in my use case as the Terraform provider is being used to deploy an infrastructure to test against. The application needs to run independently of Vault.

[2020-09-21 08:27] falzm commented on #72
Thank you for reporting this issue @janoszen. Sensationalist title aside (it's not a crash), there is indeed a bug in the handling of non-existent Instance Pools. A fix is on the way :)

[2020-09-21 08:29] ghost commented on #72
Sorry, couldn't come up with anything better late in the evening ^^

[2020-09-21 09:42] falzm commented on #73
Thank you for reporting this issue. Root cause is similar to #72, a PR fixing the problem is up.

[2020-09-21 09:49] ghost opened #76 "Failure to destroy on privnet manual removal"
# Abstract

When creating a private network, then manually removing it, and running `terraform destroy` the application fails to remove with `Error: no network found for ID b995fbe3-494c-742a-09a0-2dbe247b0c2a`.

# Steps to reproduce

1. Create the following Terraform config, run `terraform init`, and `terraform apply`

[code]

2. Delete the created NLB manually
3. Run `terraform destroy`

# What

[2020-09-21 09:51] ghost commented on #40
Indeed, my bad.

[2020-09-22 09:26] #73 closed, assigned to nobody

[2020-09-22 10:14] #72 closed, assigned to falzm

[2020-09-22 11:52] #76 closed, assigned to nobody

[2020-09-23 07:13] ghost opened #79 "exoscale_compute fails to apply when instance is stopping"
When an exoscale_compute resource was created with Terraform, then deleted manually, the next `terraform apply` fails with the following error message:

[code]

This only happens when the instance takes longer than usual to destroy and a `terraform apply` is run in the mean time.

When the instance is in state `Stopping` the Terraform code should wait for the transient state to pass before executi

[2020-09-23 07:16] ghost opened #80 "apply fails when instance pool is being destroyed"
Given that Terraform has created an instance pool and that instance pool is being manually deleted, `terraform apply` will result in the following error:

[code]

[2020-09-24 13:44] ghost opened #81 "Apply/Destroy fails on exoscale_nlb_service if NLB has been manually destroyed"
Apply fails on the NLB or the NLB service resource if the NLB has been manually deleted.

# Steps to reproduce:

1. Apply the following code:

[code]

2. Delete the NLB
3. Run apply again or destroy

Result:

[code]

[2020-10-17 20:42] ghost opened #82 "Adding SSH key to instance pool behind NLB results in error"
When modifying an instance pool that is being used by an NLB by adding a previously unset SSH key the following error is generated:

[code]

This is because the instance pool ID results in an in-place replacement instead of a destroy and recreate:

[code]

[2020-10-17 20:47] ghost opened #83 "case sensitive security group rule handling"
When creating an `exoscale_security_group_rule` with the lower case protocol (e.g. `tcp`), an update will result in an unnecessary update:

[code]

[2020-12-14 16:00] Xartos commented on #37
@greut I'm still encountering this bug. And maybe I understand this wrong, but I can't seem to find the any comments in the PR that you've linked (are they private?). And the PR itself does not reference the issue at all.
Could you point me to some relevant issue in cloudstack for this?

[2020-12-15 10:58] greut commented on #37
@Xartos write to support@exoscale.com

[2021-03-02 08:42] pagedidier opened #91 "Creating instance with template_id should retrieve the username from the given template not root"
## The issue

When creating an `exoscale_compute` resource with a [custom template created in Exoscale](https://community.exoscale.com/documentation/compute/custom-templates/) with a custom `username` like _alice_ in the documentation, at the end of the `terraform apply` when we output the `username` we got _root_ instead of the custom `userame` : alice

- The `main.tf`

[code]

- The `output.tf`

[2021-03-05 08:43] greut commented on #91
@pagedidier you could perform the `ListTemplates` in the `else` as suggested but would be stuck not knowing what `TemplateFilter` to use.

Use the data source: https://registry.terraform.io/providers/exoscale/exoscale/latest/docs/data-sources/compute_template

[2021-03-05 10:43] pagedidier commented on #91
Thanks for the suggestion @greut, but in this particular case it will not work event if iI use the `data` stanza. The `username` will never be fetched in the `else`.

We don't need to filter the template we can just get the template by id and override the value of the `username`.

Do you think something like this could work ?

[code]

[2021-03-05 14:55] greut commented on #91
The doc.

That would work. You could make things simpler by only having a different `&egoscale.ListTemplate` between `if` and `else`.

[2021-03-08 09:37] falzm commented on #91
Hello @pagedidier, as [mentioned in the provider documentation](https://registry.terraform.io/providers/exoscale/exoscale/latest/docs/resources/compute#username) you're supposed to use the [`exoscale_compute_template`](https://registry.terraform.io/providers/exoscale/exoscale/latest/docs/data-sources/compute_template) data source to retrieve the actual template username. This principle will soon b

[2021-03-09 08:40] pagedidier commented on #91
Hello @falzm,
Okey I understand.
So you mean that the `username` value will soon be removed from exported data of the `exoscale_compute` resource ?

[2021-03-09 08:47] falzm commented on #91
@pagedidier yes that is correct, soon the data source will be the only way to access this attribute.

[2021-03-10 09:15] #91 closed, assigned to nobody

[2021-04-20 08:38] redRolf opened #100 "API error ParamError 431 (CSErrorCode(0) 0) when creating a security group rule"
When trying to create the following security group rule:

[code]

I get the following error:

[code]
Do you know why this error is occurring?

[2021-04-20 09:44] falzm commented on #100
Hi @redRolf, I can't reproduce your issue with the latest version:

[code]

[code]

Which version of the provider are you running? Also, do you mind sharing the current content of your `nessus_server` Security Group, e.g. using `exo firewall show ...`? This issue may be more related to the API than the TF provider itself (if sensitive information, you can open an Exoscale support ticket).

[2021-04-20 09:59] redRolf commented on #100
@falzm Sure,  I am using the latest version of the terraform provider:
[code]

Output from `exo firewall show ...`
[code]

The full definition of the security group `nessus_server`
[code]

[2021-04-20 10:04] redRolf commented on #100
I may also add, that as soon as I set the `start_port` to `0` it works. The `ICMP` `EGRESS` rule causes the same issue:

[code]

[2021-04-20 10:05] falzm commented on #100
Thank you. Well, even using your complete example I can't reproduce this issue here 😓

[2021-04-20 10:07] redRolf commented on #100
🤔  ok, I will do some testing on my side then. Let's assume it's a client problem for now. Thank you for your quick help though. I will get back to you, once I find a more reliable way to reproduce the issue or if it solved itself 😇

[2021-04-20 10:13] redRolf commented on #100
Update: I figured it out, the issue was that for some reason the state got out of sync and no longer knew about the 3 rules causing the errors.
After manually deleting the 3 rules and running `terraform apply` no errors occurred.

So what happened was, that terraform was trying to create the 3 rules that already existed, which caused the error.

🙏  thank you for your help.

[2021-04-20 10:13] #100 closed, assigned to nobody

[2021-04-20 10:49] falzm commented on #100
Great, happy to hear that you've figured out what the issue was 👍

[2021-04-23 13:29] simu opened #101 "Changing a VM's state from "Stopped" to "Running" after provisioning it "Stopped" causes an error when trying to create a DNS record for the VM"
Given the following Terraform configuration

[code]

creating the DNS A record for the VM in "Stopped" state fails with:

[code]

This can be worked around by ensuring the domain record is only created when the requested node state is "Running":

[code]

but then a subsequent `terraform apply` with an explicit request of `node_state=Running` fails with:

[code]

Note that the field `content` for t

[2021-04-23 13:35] simu commented on #101
Note that I'm provisioning VMs in "Stopped" state initially and powering them on in a subsequent call to `terraform apply` to work around having the VMs come up without a secondary NIC attached (similar to the issue discussed in #48)

[2021-04-23 14:43] falzm commented on #101
Hi @simu, I think you're facing this issue because when you run `terraform apply -var node_state=Running`, the Compute instance isn't assigned a public IP address yet, but the `exoscale_domain_record.vm` resource reads the current value for attribute `exoscale_compute.vm.ip_address` from the state (which is first `""`), then during the creation of the DNS record resource the Compute instance gets

[2021-04-26 07:49] simu commented on #101
Hi @falzm, thanks for the hint, but unfortunately the suggested change results in the same error:

[code]

[2021-04-26 09:24] falzm commented on #101
If I understand the problem correctly, I'm afraid we won't be able to solve this issue in the provider: it seems the Terraform engine assigns the `cty.StringVal("")` value to the `exoscale_domain_record.vm.content` resource attribute right during the parsing of the configuration graph – as we can see that the prepared plan already reports `~ state = "Stopped" -> "Running"` –, so even if the Comput

[2021-04-26 16:12] simu commented on #101
I spent some time reading up on the Terraform provider SDK and found that there's the option to customize the diff logic for resources, cf. https://www.terraform.io/docs/extend/resources/customizing-differences.html

I've added a function which ensures the VM's `ip_address` gets recomputed if the old value of the `ip_address` attribute is `""` and the VM's state is changing from "Stopped" to "Runn

[2021-05-17 11:27] falzm commented on #48
Closing this issue, since due to current technical limitations API-side it can't be fixed solely at the provider level.

[2021-05-17 11:27] #48 closed, assigned to nobody

[2021-05-17 11:29] falzm commented on #101
Closing this issue, since it'll be fixed API-side as mentioned in #102.

[2021-05-17 11:29] #101 closed, assigned to nobody

[2021-05-17 12:05] falzm commented on #80
Not much that we can do at provider level, if the Instance Pool has been deleted outside of Terraform: the solution is to remove the resource from the TF state by running `terraform state rm exoscale_instance_pool.test`.

[2021-05-17 12:05] #80 closed, assigned to nobody

[2021-05-17 12:11] falzm commented on #79
Won't fix: trying to handle transient issues during mutation operations is a dangerous thing to do, I'd rather have the operator assess the problem and decide if they want to retry to apply by themselves.

[2021-05-17 12:11] #79 closed, assigned to nobody

[2021-05-17 12:59] falzm commented on #82
I believe this is no longer the case following #95, as a change of SSH key no longer triggers a resource re-creation.

[2021-05-17 12:59] #82 closed, assigned to nobody

[2021-05-17 13:30] #81 closed, assigned to nobody

[2021-05-17 13:34] falzm commented on #81
Fix implemented in #104, to be shipped soon.

[2021-06-27 20:19] huerlisi opened #107 "Empty `name` attribute not applied on existing `exoscale_domain_record`"
If a domain record exists with a non-empty `name` attribute, it cannot be changed to be empty.

The plan looks like this:
[code]

Applying tells us it succeeded:
[code]

But after applying the records are not changed and further `terraform plan` calls will tell us that it has to change the record...

Thanks for this provider, and kudos to your support team for always being very responsive and help

[2021-06-28 06:51] falzm commented on #107
Hi @huerlisi, indeed this attribute is required, and cannot be empty.

[2021-07-12 11:43] #107 closed, assigned to nobody

[2021-07-22 11:11] mcanevet opened #112 "add node taints feature to exoscale_sks_nodepool"
It would be great to be able to set taints on `exoscale_sks_nodepool` like it's possible in `aws_eks_node_group` and `azurerm_kubernetes_cluster_node_pool`

[2021-08-02 06:54] falzm commented on #112
Hi @mcanevet, this functionality is not currently supported by the Exoscale API, so we don't be able to implement it in the TF provider until then.

[2021-08-02 06:54] #112 closed, assigned to nobody

[2021-08-16 08:42] ghost opened #115 "NEW instance type format bug"
new instance type format ([FAMILY.]SIZE) is not supported

for example **standard.micro.** (service_offering) is always seen as a change.

tested on latest version 0.26.0 (https://registry.terraform.io/providers/exoscale/exoscale/latest/docs/resources/instance_pool)

`~ service_offering   = "micro" -> "standard.micro"`

[2021-08-16 08:48] falzm commented on #115
@vgn-mab can you please provide an extract of your configuration so we can try to reproduce the issue on our end?

[2021-08-16 09:10] falzm commented on #115
I can't reproduce this issue with the specified version using this simple configuration:

[code]

[code]

[2021-08-16 09:30] ghost commented on #115
use the new instance type (service_offering) format ([FAMILY.]SIZE)

**small => standard.small** (see line 23 in test.tf)

the provided example should not work with a non standard instance (i.e. memory.huge)

[2021-08-16 09:35] falzm commented on #115
@vgn-mab there is no "new instance type format": https://registry.terraform.io/providers/exoscale/exoscale/latest/docs/resources/instance_pool#service_offering

Non-standard instance types are not supported by the Exoscale provider at this time.

[2021-08-16 10:24] vgn-tl commented on #115
@falzm we have been using non-standard instances in instance-pools and sks nodepools for months now (e.g. memory-mega, memory-huge), which worked fine so far.

Also, the linked Terraform documentation does not state that only standard instances are supported, it links to the exoscale pricing page that displays all available instances.

can you reproduce the bug?
If so, will this be fixed soon?

[2021-08-16 10:31] falzm commented on #115
@vgn-mab since #110 the provider uses the new Exoscale public API to manage Instance Pools, and this issue relates to this change. We're currently working on a fix, this should be available shortly.

[2021-08-17 08:18] falzm commented on #115
@vgn-mab version 0.27.0 just released introduces a new `instance_type` attribute that replaces `service_offering`, allowing you to specify non-standard Compute instance types (e.g. `memory.mega`, `memory.huge` etc.).

[2021-08-17 08:18] #115 closed, assigned to nobody

[2021-08-17 08:56] vgn-tl commented on #115
@falzm after the first tests with the latest release (0.27.0) we still encounter the following problem with the exoscale_sks_nodepool ressource:

[code]

[2021-08-17 09:04] falzm commented on #115
@vgn-tl indeed, the change has only be done for the `exoscale_instance_pool` resource...

[2021-08-17 09:12] vgn-tl commented on #115
@falzm ok, this fix is also needed for the exoscale_sks_nodepool, should we open another ticket?

[2021-08-17 09:18] falzm commented on #115
@vgn-tl no need, a fix is already underway – I'll notify you in this issue.

[2021-08-18 07:59] falzm commented on #115
@vgn-tl new version 0.28.0 fixes the `exoscale_sks_nodepool.instance_type` attribute: https://github.com/exoscale/terraform-provider-exoscale/blob/v0.28.0/CHANGELOG.md#0280-august-18-2021

[2021-08-18 14:22] mab-wien commented on #115
@falzm tested successfully (No changes. Your infrastructure matches the configuration.)

[2021-08-18 14:35] vgn-tl opened #118 "exoscale_domain_record update with name="@""
When updating an `exoscale_domain_record` with `name = "@"`, terraform always tries to update the record, even though nothing was changed, see below:

[code]

[2021-08-19 07:37] falzm commented on #118
@vgn-tl in Exoscale DNS the `@` symbol to designate the zone name is not supported – instead you must set the `name` attribute blank (`name = ""`). Sorry for the confusion, the documentation of this attribute has now been updated to clarify this.

[2021-08-19 07:37] #118 closed, assigned to nobody

[2021-08-24 15:55] cleming opened #119 "How to enable IPv6 on instances of pool ?"
I need to enable IPv6 on instances created with `exoscale_instance_pool` resource.
It works with `exoscale_compute` but I don't know how to do it with `exoscale_instance_pool`.

thanks in advance

[2021-08-30 07:04] falzm commented on #119
@Cleming indeed this is currently missing, thank you for bringing this to our attention – we'll add the missing attribute shortly.

[2021-08-30 07:27] falzm commented on #119
@Cleming actually that was "just" a documentation issue: the functionality is implemented, however the corresponding attribute – `ipv6`, boolean: `true` to enable IPv6 on managed Compute instances, `false` to disable (default) –  description is missing. We're fixing the documentation, thanks again for catching this one.

[2021-08-30 07:27] #119 closed, assigned to nobody

[2021-08-31 08:16] alexandrevoilab opened #120 "How to add labels to a sks nodepool"
When describing an `exoscale_sks_nodepool` ressource, I would like to have a `label` arugment.

This is already supported by `exo sks create` using the `--nodepool-label` argument.

Any plans to make it available in the terraform provider?

[2021-09-01 12:36] falzm commented on #120
Coming soon: #121.

[2021-09-01 12:36] #120 closed, assigned to nobody

[2021-09-01 15:31] raphink opened #122 "All nodes removed when removing one node pool"
I created a cluster with two node pools. Then I removed one node pool, but all the nodes were removed from the cluster.

Tainting the node pool and applying again restored new nodes to the cluster.

[2021-09-01 15:32] falzm commented on #122
@raphink can you please share your Terraform configuration so we can reproduce on our side?

[2021-09-01 16:23] raphink commented on #122
I can try to prepare a MWE. I'm using our devops-stack, so it looks something like:

[code]

The `nodepools` get passed down to the camptocamp/sks/exoscale module (https://registry.terraform.io/modules/camptocamp/sks/exoscale) where it generates one `exoscale_sks_nodepool` resource per node pool: https://github.com/camptocamp/terraform-exoscale-sks/blob/main/main.tf#L45

As a result, when removing

[2021-09-02 06:50] alexandrevoilab commented on #120
Thanks @falzm !

[2021-09-02 07:13] falzm commented on #122
@raphink with the following procedure I can't reproduce your problem:

Test configuration:

[code]

Applying:

[code]

Removing Nodepool `np2` from the TF configuration, then applying:

[code]

Confirming that the Nodepool `np1` still exists:

[code]

Compute instances belonging to the Nodepool also still exist:

[code]

[2021-09-02 13:31] tomlankhorst opened #123 "Store terraform state in Object Storage Buckets"
Thanks for your work on this provider. Great job!

Maybe I missed something obvious, but I wonder whether I can store the TF state in OSBs.

Thanks for your time.

[2021-09-02 13:33] falzm commented on #123
Hi @tomlankhorst, thank you :)

This example should get you on the way: https://github.com/exoscale/terraform-provider-exoscale/blob/master/examples/sos-backend/main.tf

[2021-09-02 13:36] tomlankhorst commented on #123
Thank you so much!

[2021-09-02 13:36] #123 closed, assigned to nobody

[2021-09-02 14:29] raphink commented on #122
The instance pool & the instances still existed in my case, too. They were just not in the Kubernetes cluster anymore.

[2021-09-02 14:33] falzm commented on #122
Hum, sounds like an issue indeed – although I'm not sure how the Terraform provider relates to that. Can you reproduce this behavior using the `exo sks nodepool delete` CLI command? Basically does the same thing as the TF provider.

[2021-09-02 14:42] falzm commented on #122
@raphink we managed to reproduce your issue internally, however it is indeed a bug in our SKS offering – unrelated to our Terraform provider. I'm gonna go ahead and close this issue, can you please open a ticket at the Exoscale support, so you can track the resolution of the issue as our team works on a fix?

[2021-09-02 14:42] #122 closed, assigned to nobody

[2021-09-09 07:16] falzm commented on #120
Version 0.29.0 now supports labels on SKS Nodepools: https://github.com/exoscale/terraform-provider-exoscale/blob/v0.29.0/CHANGELOG.md#0290-september-9-2021

[2021-09-15 12:38] vgn-tl opened #125 "exoscale_database creation error: invalid request: Cannot find ID info"
When creating a new `exoscale_database` resource, terraform produces the following error:

[code]

### Provider versions used:
Terraform: 1.0.6
Exoscale: 0.29.0

### Example code
see [https://registry.terraform.io/providers/exoscale/exoscale/latest/docs/resources/database#example-usage](https://registry.terraform.io/providers/exoscale/exoscale/latest/docs/resources/database#example-usage)):

[code

[2021-09-15 13:01] falzm commented on #125
@vgn-tl can you confirm that you consistently get this error? I've tried to reproduce the issue on my side with your exact configuration, and it works:

[code]

[2021-09-15 13:21] vgn-tl commented on #125
@falzm it's working now, the problem was an outdated exo IAM key. The error message was misleading.

Thank you,
kind regards!

[2021-09-15 13:21] #125 closed, assigned to nobody

[2021-10-24 08:23] oxalorg opened #127 "Apple m1 ARM builds missing for v0.29.0"
[code]

Darwin ARM builds are available for v0.28.0

[2021-10-25 09:39] falzm commented on #127
Hi @oxalorg, this should be fixed for the latest release (0.30.0).

[2021-10-25 09:39] #127 closed, assigned to nobody

[2021-11-26 16:59] Strangerxxx opened #131 "feature-request: sks: export kubeconfig string (or even separate credentials) of the resource"
Hello!
I'd really like to have ability not just create SKS cluster using terraform, but at the same time get the connection credentials to use it in-place with kubernetes/helm terraform providers.
It is kind of enabler for me to use SKS on Exoscale.
As I can understand there is pretty straight forward possibility to implement such feature.
However if there is any cons which prevents of doing so pl

[2021-12-12 04:18] tstrohmeier opened #136 "Feature Request: Separate TF Resource for managing databases of a DBaaS instance"
Hello,

It would be nice to have different resources for database instances and the databases itself.
This would allow us to manage also the databases with Terraform directly.

### Example:

[code]

### Links from other projects:
* https://registry.terraform.io/providers/aiven/aiven/latest/docs/resources/pg_database <del>https://registry.terraform.io/providers/aiven/aiven/latest/docs/resources/dat

[2021-12-12 21:29] tstrohmeier commented on #131
+1

[2021-12-15 12:56] retrack commented on #136
Thanks for the suggestion, we will take it in consideration in our planning and also welcome PRs as well.

[2021-12-15 12:58] retrack commented on #131
We had debated internally already before your issue and had concluded that it was not a safe practice to do. Happy to revisit however especially if other providers behave like so.

[2021-12-17 17:03] alexandrevoilab opened #139 "After upgrading from 0.30.1 to 0.31.1 ressources are maked for destruction and re-creation"
It seems that the main reason is that some properties where converted to all lowercase.

I thinks only the `exoscale_security_group` and `exoscale_security_group_rules` ressources are affected.

Here is a small extraction form a terraform apply.

[code]

I'm a bit reluctant to blindly destroy and recreate every single security group I've created as I didn't change anything on my terraform config.

[2021-12-20 11:44] PhilippeChepy commented on #139
Hi Alexandre,

Thank you for reporting this issue.

We have recently updated our Terraform provider to use the new openapi-v2 API.
This new API sanitizes the names of security-groups so that they are lower-cased. But we have a bug in the current version of the provider that does not enforce it, especially when your state was created with an older version of the provider. That's why you are experie

[2021-12-22 13:56] alexandrevoilab commented on #139
Thanks Philippe.

After renaming all my security groups to lowercase, terraform no longer wants to delete them.
But, I still see a lot of changes.

[code]
Which seems fine, as the security group name changed.

[code]
Every security group rule seems to be reset.
I'm still not at ease with that execution plan which plan a lot of changes to our production infrastructure without much actual changes on

[2021-12-22 14:10] PhilippeChepy commented on #139
Can you share the definition of your `exoscale_security_group_rules.common-ssh` resource please ?

[2021-12-22 16:49] alexandrevoilab commented on #139
[code]

I tried changing `display_name` of `exoscale_compute.bastion` to lowercase, with no success.

[2021-12-23 07:13] PhilippeChepy commented on #139
You have to roll-back your changes and wait for the latest 0.31.2 release to be available on the Terraform registry. This release will handle API changes gracefully.
For the time being, I strongly recommend you to stick on v0.30.1 for existing infrastructures.

[2022-01-04 11:32] Jil opened #141 "Feature Request: data source existing zones"
**Summary:**
To be able to browse the entire infrastructure, we need a data source with the list of zones.

**Example use case:**
1. A project instantiates compute instances in different zones, with standardized name and labels
2. The holder of the DNS domain keeps control of DNS configuration in the top most organization and does not delegate domain management
3. To generate the DNS records, we n

[2022-01-04 11:58] Jil opened #142 "datasource_exoscale_compute_instance should be able to list all instances"
The `datasource_exoscale_compute_instance` should be able to return all instances of the given zone, leveraging https://openapi-v2.exoscale.com/#operation-get-instance

**Current behavior:**
The datasource expects a name or ID.

**Expected behavior:**
When no filter is given, all instances are returned.

[2022-01-06 13:24] markcameron opened #143 "Cannot create ESP security group rule using exoscale_security_group_rules resource"
Exoscale Terraform Provider Version: `0.31.1`

Using the `exoscale_security_group_rules` to generate a list of rules for a group doesn't appear to create the rule for the ESP protocol.

Here is an example terraform script where I create the security group, add the rules using rule group, and the same thing in a different security group using single `exoscale_security_group_rule` where the ESP prot

[2022-01-06 19:22] llambiel commented on #139
@alexandrevoilab 0.31.2 has been released, can you give it a try ?

[2022-01-10 15:05] jessicatoscani commented on #141
Hi @Jil, this is a good suggestion. We'll add it to our To-Do list, this should be ready in a near future.

[2022-01-10 15:18] jessicatoscani commented on #142
Hi @Jil, the datasource `exoscale_compute_instance` was designed to return only one instance.
Indeed it would be helpful to get all the instances. We'll add it to our To-Do list, this should be ready soon.

[2022-01-10 15:53] jessicatoscani commented on #143
Hello @markcameron,

Thank you for reporting this issue.
We will soon release an update of the provider to fix this bug.

[2022-01-18 14:59] #139 closed, assigned to nobody

[2022-02-08 13:28] #143 closed, assigned to nobody

[2022-02-09 08:23] alexandrevoilab commented on #139
Hi, sorry for the delay...

v0.30.1 is not an option as we are impacted by another bug (redis dbaas) preventing terraform from working before v0.31.1.

I did update to v0.31.2 and reverted all un-applied modifications to my ressources.
That is, no changes, update to v0.31.2 and run plan.

Unfortunatly, I still cannot apply the config.

Here is an extract form the plan phase:
[code]

This is withou

[2022-02-09 17:21] alexandrevoilab commented on #139
I did some more digging and tried to delete states and re import them, to no avail.

However, something catched my eye. Multiple `exoscale_security_group_rules` ressources seems to have the same ID.
Is that okey?

@llambiel Should this be re-opened or should I create a new issue?

[code]

[2022-02-11 17:30] secustor commented on #131
Examples of how other cloud providers handle this situation:

- Azure:
  directly exposes the kubeconfig as attributes. https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/kubernetes_cluster#kube_config_raw
- GCP:
  exposes a datasource https://github.com/hashicorp/terraform-provider-kubernetes/blob/main/_examples/gke/main.tf#L26
- AWS:
  does as Exoscale requires the u

[2022-02-14 09:26] Strangerxxx commented on #131
Could you explain how I may use exoscale cli as a kubeconfig exec plugin? @secustor

If I'm able to use it as plugin, than there is no reason to expose kubeconfig, unfortunately I did not found any documented example of this way usage of exoscale cli (

[2022-02-14 09:44] secustor commented on #131
It eases the usage in CI systems as the user does not have to install and configure the `exo` cli separately to Terraform.

This is the output of `exo compute sks kubeconfig --help`:
[code]

[2022-02-14 10:11] Strangerxxx commented on #131
awesome, that's what I'm looking for!

however the `certificate-authority-data` has to be exported of cluster resource in this case

[2022-02-14 10:26] Strangerxxx commented on #131
@secustor could you please also explain why `certificate-authority-data` content of generated kubeconfig (using `exo compute sks kubeconfig`) doesn't match neither authorities retrieved using `exo compute sks authority-cert`?

I tried to authenticate using certs retrieved using `exo compute sks authority-cert` without success.

How I may retrieve cluster-ca using exo cli?

[2022-02-14 19:02] SebastienPittet opened #147 "Doc links not working"
After a check, it looks like these links are not working anymore for version 0.31.2 of the exoscale provider.

https://github.com/exoscale/terraform-provider-exoscale/blob/4eb2eddc64d0fedf67f996641817b69e432f4a6b/website/docs/r/compute_instance.html.markdown?plain=1#L118-L125

I can't figure out where the problem stands, sorry for not contributing more on this one.

[2022-02-15 11:19] secustor commented on #131
I can only guess which is the reason. Could be that this are different authorities of the cluster are returned, but this is question can be only answered by someone by Exoscale.

I'm not sure how to do this best at the moment.   AWS returns the certificate authority as attribute and can therefore be templated into the kubeconfig. Exoscale does not expose this as attribute in the provider at the mo

[2022-02-18 13:58] jamielinux opened #148 "What should we use instead of exoscale_nic"
Hi, thank you for this terraform provider!

I see [here](https://registry.terraform.io/providers/exoscale/exoscale/latest/docs/resources/nic) that the `exoscale_nic` resource is deprecated.

I use this resource to map a compute instance (eg, `id=1a2b3c`) to a private network IP address (eg, `10.0.0.4`). However, I can't seem to see how I can achieve this with one of the other resources. Hopefully

[2022-02-21 10:19] secustor opened #150 "[exoscale_security_group] Can not import existing resource"
Currently I'm not able to import an existing SecurityGroup

TerraformVersion: `1.1.6`
ProviderVersion: `0.31.2`

Importing the SecurityGroup leads to following error.
[code]

The logs show that the API calls are successful and return the group and its rules. Therefore I guess this is not API related, but some bug in the code base.

<details>
  <summary>TraceLogs</summary>

[code]
<br>
</details>

[2022-02-21 12:50] 7fELF commented on #148
Hi @jamielinux

There is currently no replacement for `exoscale_nic`, it is in our roadmap but we can't provide an exact date as to when it will be available.

[2022-02-21 12:57] jamielinux commented on #148
Hi @7fELF

Thank you for the response!

Sure, I will just stick on the current version of the `exoscale/exoscale` provider (using the deprecated `exoscale_compute` and `exoscale_nic` resources etc) until the replacement is ready.

(I'm curious though, usually I see projects deprecate features once a suitable replacement is available. The deprecation in this case feels a bit early. I'm not complain

[2022-02-22 07:34] PhilippeChepy commented on #150
Hi @secustor,

Thank you for reaching us.
We are working on a fix for this issue (in #149).
This bug will be fixed in the next release.

[2022-02-23 18:34] mpalu opened #151 "provider panic: runtime error: invalid memory address or nil pointer dereference"
Hello guys,

We are receiving the following error using the latest version of the provider, while creating some amount of sks_nodepools resources (12 nodepools). Tested on macOS and Linux with the same result.

[code]

Terraform version: v1.1.4 on darwin_amd64
Provider version: 0.31.2

I've tested the following resources:

exoscale_anti_affinity_group
exoscale_private_network
exoscale_security_gro

[2022-02-23 22:47] secustor opened #152 "[exoscale_sks_cluster] support kube version upgrades"
I have an Exoscale SKS cluster deployed with version `1.22.6`
[code]

Now I want to upgrade to a new version:
[code]

## Current behaviour
The provider detects correctly that an update is necessary,
[code]
but the version upgrade is not supported and therefore is displayed even after an apply. https://registry.terraform.io/providers/exoscale/exoscale/latest/docs/resources/sks_cluster#version

## E

[2022-02-24 15:14] secustor opened #154 "[exoscale_storage_bucket] Add resource to create bucket and upload blobs"
Currently there is no option to create a bucket on Exoscale and upload blobs to it

[2022-02-25 14:26] mpalu commented on #151
An update that might be useful. This behavior doesn't happen when I create 1 nodepool per time, only when I try to create all the 12 at once.

[2022-02-26 10:20] fegger-ducksify opened #155 "[exoscale_database] modify ressource ip_filter"
Currently I'm not able to modify an existing exoscale_database ip_filter
Ressource creation works fine

TerraformVersion: 1.1.6
ProviderVersion: 0.31.2

[code]
But that works with
[code]

[code]

[2022-03-01 10:55] alexandrevoilab commented on #139
After installing version 0.32.0, everything works fine.

Thanks a lot @PhilippeChepy and @SebastienPittet for your awesome support on this!

[2022-03-01 12:25] PhilippeChepy commented on #139
Thank you for the feedback!

The provider will be available on the registry soon.

[2022-03-03 07:29] PhilippeChepy commented on #150
Hi @secustor,

Can you try again with the latest release of the provider (v0.32.0) ?
It should work as expected now.

[2022-03-03 07:30] PhilippeChepy commented on #147
Fixed in #149

[2022-03-03 07:30] #147 closed, assigned to nobody

[2022-03-03 08:24] PhilippeChepy commented on #139
@alexandrevoilab, FYI v0.32.0 is available from the terraform registry.

[2022-03-03 09:03] secustor commented on #150
I can now import the security group and subsequent rule objects. :+1:

[2022-03-03 12:49] jbg opened #156 "[exoscale_security_group_rule] validate that one of cidr/user_security_group_id/user_security_group is supplied"
## Background

With the aim to make a rule that matches traffic from all sources, I initially defined a `exoscale_security_group_rule` resource this way:

[code]

This is incorrect, as I have since determined by looking at the documentation for security groups; to match traffic from all sources a separate rule for each of IPv4 and IPv6 must be supplied with `cidr = "0.0.0.0/0"` and `cidr = "::/0"`

[2022-03-11 13:29] PhilippeChepy commented on #150
Thank you for the feedback

[2022-03-11 13:29] #150 closed, assigned to nobody

[2022-03-14 09:09] krypty commented on #154
I believe Exoscale used to have a dedicated resource for buckets management but according to this article of their blog (https://www.exoscale.com/syslog/terraform-with-exoscale/) they removed it in favor of the official s3 terraform provider.

However, I have no clue of how to configure this yet. But apparently, to manage S3 buckets on Exoscale with Terraform, we have to use the AWS provider with

[2022-03-14 12:42] #156 closed, assigned to nobody

[2022-03-14 13:05] jessicatoscani commented on #154
We don't plan to add `exoscale_storage_bucket` to our provider.
As SOS is S3-compatible, the Terraform AWS provider can be used to manage your buckets.
The AWS provider requires specific settings to work with SOS, it is now documented here: https://community.exoscale.com/documentation/storage/terraform/#provider-configuration  (with other examples for bucket creation, acl, ...)

[2022-03-14 13:05] #154 closed, assigned to nobody

[2022-03-14 15:14] jessicatoscani commented on #131
@Strangerxxx The `certificate-authority-data content` of kubeconfig is the apiserver CA. The command `exo compute sks authority-cert` can only provide [kubelet or aggregation authorities](https://community.exoscale.com/documentation/sks/certificates-and-keys/#certificates-authorities)

[code]
We have just released a new version of our provider with `exoscale_sks_kubeconfig` resource (#159 )

[2022-03-14 16:52] fegger-ducksify commented on #155
It was a problem in the module logic.

[2022-03-14 16:52] #155 closed, assigned to nobody

[2022-03-15 15:35] jessicatoscani commented on #151
@mpalu Thanks - we identified the pb and will fix it quickly.

[2022-03-16 07:58] jessicatoscani commented on #40
Fixed for `exoscale_compute_instance` ([v0.33.1](https://github.com/exoscale/terraform-provider-exoscale/blob/v0.33.1/CHANGELOG.md))

[2022-03-16 07:58] #40 closed, assigned to nobody

[2022-03-16 07:58] jessicatoscani commented on #83
Fixed in [v0.33.1](https://github.com/exoscale/terraform-provider-exoscale/blob/v0.33.1/CHANGELOG.md)

[2022-03-16 07:58] #83 closed, assigned to nobody

[2022-03-21 06:23] fishman commented on #131
Various terraform state providers encrypt the state on rest. Gitlab does that for example.

Currently to be able to move secrets like the Kafka secrets into the cluster you first need to export them as a file or the env and then write them into the cluster.

If you provide exports for database and kubernetes secrets, database access can be written directly to kubernetes cluster in multistep terraf

[2022-03-23 13:02] jessicatoscani commented on #151
The issue has been fixed (in our API). Don't hesitate to reopen the issue if you stumble on it again.

[2022-03-23 13:02] #151 closed, assigned to nobody

[2022-03-31 06:26] PhilippeChepy commented on #148
Hello @jamielinux,

Since v0.34.0, you can declare nework_interface blocks on your exoscale_compute_instance resources:

[code]

[2022-03-31 06:26] #148 closed, assigned to nobody

[2022-03-31 06:30] jamielinux commented on #148
Hi @PhilippeChepy , thank you so much! :tada: :rocket:

[2022-04-12 07:58] PhilippeChepy commented on #131
We can close this issue because as @jessicatoscani outlined, a solution was implemented in #159.

This update is available in our plugin since v0.33.0 [CHANGELOG](https://github.com/exoscale/terraform-provider-exoscale/blob/master/CHANGELOG.md#0330-march-11-2022).

Example usages are available:
- in the [provider doc](https://registry.terraform.io/providers/exoscale/exoscale/latest/docs/resources/

[2022-04-12 07:58] #131 closed, assigned to nobody

[2022-04-21 13:16] tstrohmeier commented on #136
@retrack What is the status on this feature request?

[2022-04-27 17:23] tstrohmeier opened #173 "Bug: DbaaS Version mismatch"
Hi,

It seems like as if the API is returning the minor version of the PG Instance too, which leads to an change in the property:

[code]

The CLI only returns the major versions:

[code]

[2022-05-10 08:11] hbollon commented on #173
+1
We are experiencing the same issue which leads to the impossibility to makes Terraform converge...
Any update on this?

[2022-05-19 09:19] Narzhan opened #179 "Failed to connect to Ubuntu 22 instance"
I've a Terraform script which starts up several VMs with different OSes and runs some tests on them. These tests work fine on Ubuntu 20, Debian 10 and 11, Centos and many others. However with the release of Ubuntu 22 I'm not able to connect to the vm using ssh with the following error.

` ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods r

[2022-05-20 06:27] llambiel commented on #179
Thanks @Narzhan for the report

Ubuntu 22.04 features OpenSSH version 8.9. Starting version 8.8 ssh-rsa (SHA1) key support has been [deprecated](https://www.linuxadictos.com/en/openssh-8-8-arrives-saying-goodbye-to-ssh-rsa-support-bug-fixes-and-more.html). Our system currently generates SHA1 keys, which prevent you to connect.

We'll look at generating proper SHA-512 keys

[2022-06-10 12:30] #173 closed, assigned to nobody

[2022-06-21 18:14] Skeen commented on #154
Would you consider adding documentation to the provider that leads to https://community.exoscale.com/documentation/storage/terraform/#provider-configuration ? - Just for discoverability and to avoid people coming to the conclusion that it is unsupported?

[2022-06-22 10:57] av-sebastian opened #183 "Bug when creation bootstrap key with [SPACE] in name"
Creation a ssh_key with a [SPACE] in the name gives an error, but it created the key correctly in exoscale.
On of the problem with this is, that the terraform state is not getting written correctly.

[code]

[2022-06-23 06:04] PhilippeChepy commented on #142
This is addressed by https://github.com/exoscale/terraform-provider-exoscale/pull/178, which is available since v0.37.0

[2022-06-23 06:04] #142 closed, assigned to nobody

[2022-06-23 06:54] PhilippeChepy commented on #179
Hello @Narzhan,

~~You seem to generate the public key before provisioning it using Terraform. As @llambiel mentioned, `ssh-rsa` (SHA1 signature scheme) is not supported anymore in Ubuntu 22.04 because of a more recent version of OpenSSH which deprecate this kind of keys. To work around this limitation, you should change the value of your `public_key` input variable to a `rsa-sha2-256` or `rsa-sha

[2022-06-23 07:45] exo-cedric commented on #179
Recent versions of Terraform should fix this issue (as of https://github.com/hashicorp/terraform/pull/30962)

[2022-06-23 07:45] PhilippeChepy commented on #179
Update 2:
@Narzhan, can you try with Terraform 1.2.3 (current latest version)?
It looks like HCP has fixed this issue ([see here](https://github.com/hashicorp/terraform/pull/30962))

With the latest version, your snippet works like a charm.

[2022-06-23 08:01] PhilippeChepy commented on #183
Hello @av-sebastian,

Thank you for the bug report. This should be resolved in the next release since https://github.com/exoscale/terraform-provider-exoscale/pull/184 is addressing the signature issue. The next release will be available very soon.

[2022-06-28 19:47] danielband commented on #148
@PhilippeChepy Could you please add the attribute to the terraform documentation? Thanks for implementing this btw!

[2022-07-05 09:43] h0jeZvgoxFepBQ2C opened #187 "~~Could you offer an darwin_arm64 package?~~ Update Readme"
Hi,

it seems that I cannot use Exoscale/Terraform on my new Macbook:

[code]

Could you provide a package?

[2022-07-05 09:53] h0jeZvgoxFepBQ2C commented on #187
Ah, it seems that the newest version of your provider works on the new OSX architecture.

Could you update your README?
https://registry.terraform.io/providers/exoscale/exoscale/latest/docs

It specifies the 0.18.2 version.

[2022-07-05 11:43] h0jeZvgoxFepBQ2C opened #188 "Please provide the Reverse DNS setting for resource "exoscale_elastic_ip""
As the title says, please provide a setting to adjust the reverse DNS entry.

[2022-07-05 11:44] h0jeZvgoxFepBQ2C opened #189 "Please provide Reverse DNS setting for resource "exoscale_compute_instance""
As the title says, please provide a reverse DNS setting so it's possible to set the reverse DNS via terraform.

[2022-07-05 16:31] kobajagi commented on #187
Thank you for feedback. As stated we do support `darwin_arm64` architecture. We will update our docs in the next release to reference new provider version.

[2022-07-05 16:33] #183 closed, assigned to nobody

[2022-07-05 16:33] kobajagi commented on #183
Fixed in v0.38.0

[2022-07-05 17:21] kobajagi commented on #189
Thank you for report. Reverse DNS configuration for `exoscale_compute_instance` and `exoscale_elastic_ip` resources is on our roadmap. Some work was already done and we expect feature to land soon, but no ETA.

[2022-07-06 13:26] wasadigi opened #190 "Error when creating a compute instance"
I am trying to provision a compute instance, but when I `terraform apply`, I get the following error:

[code]

Here is my config. I am not sure if I should specify a endpoint, as I have seen some examples with, and others without.
[code]

Note that the template is resolved correctly. I looked at the doc and I didn't see any required field for which I am not providing a value.

[code]

[2022-07-06 13:37] wasadigi commented on #190
I tried the example from https://registry.terraform.io/providers/exoscale/exoscale/latest/docs/resources/compute_instance. In this case, it creates the security group and the private network, but fails on the instance. The error message is different:

[code]

[code]

[2022-07-06 13:47] wasadigi commented on #190
I thought that the missing `security_group_ids` might be the cause (although it is not described as required). So I updated my spec... but without success. Still the same `bad request` error. I have tried to trace `terraform`, but I don't see communication between the provider and the api.

[code]

[2022-07-06 14:25] wasadigi commented on #190
Hum... using `type = "gpu.small"` gives me another error: "Post "https://api-ch-gva-2.exoscale.com/v2/instance": invalid request: This instance type is not allowed for your account".

I had the idea to try this, because I was looking for the list of accepted values for `type`. Is it available anywhere?

[2022-07-06 14:33] wasadigi commented on #190
`exo compute instance-type list` seems to be what I was looking for... but using these values does not fix my original problem.

[code]

[2022-07-06 14:37] wasadigi commented on #190
Looks like the `_` underscore in the name was the culprit...

[2022-07-06 14:38] wasadigi commented on #190
Indeed:

![image](https://user-images.githubusercontent.com/1152779/177576561-af673aab-f7db-44ef-8318-bbed3c64590b.png)

[2022-07-06 14:39] wasadigi commented on #190
The issue is solved. I keep it open, to ask one last question: to debug this type of problem, is there any way to get some trace to understand why the server is unhappy?

[2022-07-06 17:06] kobajagi commented on #190
Hey @wasadigi , you can try running terraform commands with `TF_LOG=DEBUG`, that will also print full exoscale API responses.

[2022-07-06 17:11] #190 closed, assigned to nobody

[2022-07-07 06:25] tstrohmeier commented on #152
+1

PS: This problem also exists in the DBaaS resource

[2022-07-13 15:49] wasadigi opened #192 "Best practice to provision a compute instance with Terraform"
Hello,

This is not an issue, but rather a question on the recommended way to provision compute instances with Terraform. I would like to confirm my understanding of the situation, and ask for feedback on how people are addressing this topic.

* The Terraform resources have changed (`exoscale_compute` replaced by `exoscale_compute_instance`, `exoscale_ssh_keypair` replaced by `exoscale_ssh_key`).

[2022-07-14 07:50] PhilippeChepy commented on #192
Hello @wasadigi,

I will try to answer all the points you raised:

1. For provisioning an instance, the ideal terraform resource is now `exoscale_compute_instance`. Since we are migrating the provider from our legacy API to the OpenAPI v2 flavor, `exoscale_compute` and `exoscale_ssh_keypair` were deprecated, in favor of respectively `exoscale_compute_instance` and `exoscale_ssh_key`.

2. The insta

[2022-07-14 08:01] wasadigi commented on #192
Hi @PhilippeChepy, thank you very much for your explanations.

This confirms my understanding. I am now thinking about writing an "out-of-terraform" procedure to initialize the process (generate the keypair, create the public key with `exo`). We are using Vault, so once this is configured, I can get rid of the authorized_key.

[2022-07-14 08:01] #192 closed, assigned to nobody

[2022-07-15 12:30] Breee opened #195 "Improve Error Messages"
Example:

[code]

Would produce an error similar to:

[code]

Because  `name = "compute_demo_server"`  is invalid
I would expect some kind of prevalidation   that tells me:

[code]

Would be a cool addition ;)

[2022-07-15 13:22] PhilippeChepy commented on #195
Hello @Breee,

Thank you for reporting this issue; indeed, it makes sense to have a better error message here!
We added this issue to our roadmap (no ETA yet).

[2022-07-15 13:37] Breee opened #196 "Feature request: Support for multiple SSH keys"
Currently it's only possible to pass a single SSH key (At least according to the documentation)

[code]

It would be useful  to pass multiple keys as a list, similar to hetzner,  e.g.

[code]

[2022-07-15 13:38] Breee commented on #195
Thanks @PhilippeChepy
Looking forward to it.
I yet had no time to check the codebase of the provider, but might be able to contribute in the future.

[2022-07-15 14:14] PhilippeChepy commented on #196
Hello @Breee,

You are right: for now, we don't support specifying more than 1 ssh authorized_key in the `ssh_key` attribute of the `exoscale_compute_instance`. We will discuss this limitation internally as it's not tied to the Terraform provider but also to our API.

In the meantime, you can work around this limitation by setting authorized ssh keys [through cloud-init](https://cloudinit.readthed

[2022-07-19 12:23] Narzhan commented on #179
Hi, it seems like everything is ok.

[2022-07-19 12:25] PhilippeChepy commented on #179
Thank you for your feedback.

I'm closing this issue.

[2022-07-19 12:25] #179 closed, assigned to nobody

[2022-07-20 07:41] exo-cedric opened #199 "exoscale_domain_record: Invalid value in priority, should be a Positive Integer (TTL, priority) - version 0.39.0"
Following version 0.39.0 update, we now get the following on `exoscale_domain_record` that lack the (optional) `ttl` and `prio` arguments:

[code]

[2022-07-22 08:48] jamielinux opened #202 "exoscale_compute_instance: "state: running" isn't documented"
The documentation [here](https://github.com/exoscale/terraform-provider-exoscale/blob/a5ed91ce770093b00bb96f547e1a4ef6e76f535c/docs/resources/compute_instance.md?plain=1#L78) for `exoscale_compute_instance` says that the `state` attribute supports either `started` or `stopped`.

I started getting unwanted changes reported by `terraform plan`, with lots of `~ state = "running" -> "started"` (even t

[2022-07-22 12:08] PhilippeChepy commented on #202
Hello @jamielinux,

Thank you for reporting this issue (and providing a fix for it!).

The documentation is currently being reworked (see this PR: #198).
The update which includes a fix for the missing state value will land very soon.

[2022-07-22 12:30] jamielinux commented on #202
Hi @PhilippeChepy, no problem and thanks for your reply. That's a very large PR! Look forward to see it land :-)

[2022-07-22 12:31] jamielinux commented on #202
Feel free to close my PR as you see fit :)

[2022-07-22 17:59] kobajagi commented on #199
Fixed in 0.39.1.

[2022-07-22 17:59] #199 closed, assigned to nobody

[2022-07-26 08:59] PhilippeChepy commented on #202
#198 is merged, solving this issue.

[2022-07-26 08:59] #202 closed, assigned to nobody

[2022-07-27 02:30] citizenrich opened #206 "Use environment variables for key and secret"
Terraform seems to make it difficult to use existing env vars, like EXOSCALE_API_KEY and EXOSCALE_API_SECRET (which is preferable to putting those in a JSON file). Can you please provide an example to use exoscale api key and secret as env vars?

[2022-07-27 05:48] PhilippeChepy commented on #206
Hello @citizenrich,

In order to bring your credentials to the provider through environment variables, you just have to export them, then run `terraform plan` / `terraform apply` as usual:

[code]

What issue did you face?

[2022-07-27 08:12] exo-cedric commented on #206
Generally speaking, any `xyz` _variable_ that you define in your Terraform configuration may be passed as `TF_VAR_xyz` environment: https://www.terraform.io/language/values/variables#environment-variables

[2022-07-27 17:40] citizenrich commented on #206
Hi, thanks for the prompt response. I keep getting Terraform asking for the key/secret when using `terraform apply`

[code]

I have also tried:
[code]

Edit: So, this works:
[code]

[2022-07-27 21:13] #206 closed, assigned to nobody

[2022-07-27 21:13] citizenrich commented on #206
Thanks for the help. If others have input now or later, please share your learnings and guidance.

[2022-07-28 05:50] PhilippeChepy commented on #206
Hello,

Here is your configuration updated for NOT asking anything from stdin:

[code]

[2022-07-28 05:51] PhilippeChepy commented on #187
Resolved in v0.40.0 (soon available in the terraform registry).

[2022-07-28 05:51] #187 closed, assigned to nobody

[2022-07-29 10:32] Breee opened #207 "Terraform destroy operations do not wait for depending ressources"
Greetings,
given the following cluster, nodes  and security  group

[code]

This  code will (1) create a SKS cluster, (2) create a  nodepool  and (3) create a Security group.

When running  terraform destroy  the  following happens:

- Cluster is deleted
- Nodepool deletion is triggered
- Security group cannot  be  deleted, because it still is in use by the terminating nodepool:
[code]

[2022-08-01 05:26] PhilippeChepy commented on #207
Hello @Breee,

Thank you for reporting this issue. We are working on a fix (no ETA yet).
In the meantime, you can `terraform destroy` a second time in order to cleanup your infrastructure.

[2022-08-05 06:53] deindealmick opened #209 "Plan always shows an update with security_group_ids"
A plan (or apply) always seems to show a change, when there is no change. Here's the output:

[code]

IDs match the names of the security_groups so there should be no "change".

versions:
[code]

This is following a terraform import. trying to migrate the state exoscale_compute following update from old provider to new provider

[2022-08-05 07:07] PhilippeChepy commented on #209
Hello @deindealmick,

Thank you for reporting the issue.
It looks like your definitions are setting names instead of IDs for the following arguments:
- anti_affinity_group_ids
- security_group_ids

It's expected to have UUIDs instead of names for these arguments. How did you define these values inside your configuration?
- If they are derived from other resources, please change the reference to a

[2022-08-05 07:17] deindealmick commented on #209
Hello @PhilippeChepy

indeed in terraform file this is how these ressource are declared:
[code]

I'm surprised that following your answer and in documentation we should use id instead of name now.

[2022-08-05 07:35] PhilippeChepy commented on #209
The [exoscale_compute_instance](https://registry.terraform.io/providers/exoscale/exoscale/latest/docs/resources/compute_instance) resource has `anti_affinity_group_ids` and `security_group_ids` arguments, while the older and now deprecated [exoscale_compute](https://registry.terraform.io/providers/exoscale/exoscale/latest/docs/resources/compute) resource has both `affinity_groups` / `security_grou

[2022-08-05 07:58] deindealmick commented on #209
Ok thank you for that, I don't find it convenient, names were better for conf. reading.
But indeed it's in doc. So i guess this issue could be close. Thank you !

[2022-08-05 08:35] Breee opened #210 "SKS Load Balancer is not destroyed"
Greetings,
given the following cluster

[code]
-  `terraform apply` will create a SKS cluster.
-  `exoscale_ccm = true`  will create a Load Balancer if I got it right.
-  However,  if I execute  `terraform destroy`, the Load Balancer still exists. (And it costs money)

I think this might  be a bug.
Also: Do I need the exoscale_ccm to obtain an external  IP? When I set this setting to false the ext

[2022-08-05 08:39] #209 closed, assigned to nobody

[2022-08-05 09:03] PhilippeChepy commented on #210
Hello @Breee,

The cloud controller manager (CCM) is responsible for managing LoadBalancer services in your SKS cluster. That's also why you will have LoadBalancer services waiting for their IP address ("Pending") if you don't deploy the CCM.
If you want LoadBalancer service integration with the Exoscale Network Load Balancer (NLB) product, you don't have any other choice than to deploy the Exosca

[2022-08-25 10:51] jessicatoscani commented on #207
Hello @Breee,
The bug has been fixed (in our API).
Deletion of Security Group will now happen once the instances of the nodepool are deleted.

[2022-08-25 10:51] #207 closed, assigned to nobody

[2022-08-25 10:56] Breee commented on #207
Thx :)

[2022-08-25 11:00] Breee commented on #210
I see, makes sense. If I don't wanna use the CCM/ NLB product, i just have to expose the service I guess.

Thanks for the information and sorry for the late reply.

[2022-08-25 11:00] #210 closed, assigned to nobody

[2022-09-04 11:43] jbg opened #215 "Make gzipping of user data optional"
The provider currently gzips `user_data` passed to the `exoscale_compute_instance` resource before passing it (base64-encoded) to the API.

The Exoscale [API documentation] doesn't require that the user data is gzipped, it only requires it to be base64-encoded. So, at the moment, it's not possible to get plain-text user data via the Terraform provider, but it is possible via the API.

It would be

[2022-09-22 08:49] jessicatoscani commented on #195
Hello @Breee,

Our API has been updated and will now produce a better error message when you will run `terraform apply`

[code]

[2022-09-30 13:22] simu opened #224 "Feature request: support for configuring display name in `exoscale_compute_instance`"
## Summary

Please provide an argument to configure the display name for compute instances in the new `exoscale_compute_instance` resource.

## Background

I'm currently migrating our existing Exoscale Terraform modules (for managing OpenShift 4 nodes) to use the new `exoscale_compute_instance` resource (among others), and have noticed that there appears no way to set the instance display names wi

[2022-11-03 09:47] #195 closed, assigned to nobody